<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
     //for project like and dislike
    $(function () {
        $(".likeli").one("click", function () {
            var serializedData = $("#projectlikeform").serialize();

            $.ajax(
                {
                    url: $('projectlikeform').data('url'),
                    data: serializedData,
                    type:'post' ,
                    success: function(response){
                        $("#likeli").empty();
                        $("#likeli").append('<a href="#" class="like text-muted"><i class= "icon-thumbs-up2 font-size-base text-primary mr-2" id = "like" ></i > <input class="qty1" name="qty1" readonly="readonly" type="text" value='+ response.like +' /></a >')
                    }
                }
            )
            

        });
        $(".dislike").one("click", function () {
            var input = $(this).find('.qty2');
            input.val(parseInt(input.val()) + 1);
            document.getElementById('dislike').style.color = "red"
        });
    });
</script>

<style>
    .qty1,
    .qty2 {
        border: none;
        width: 20px;
        background: transparent;
    }
</style>