 <div class="">
 <div class="form-group form-horizontal">
     <label class="col-md-6 font-weight-semibold control-label">
         Filter Project:</label>
     <form method="post" action="{% url 'projects:viewpoints' project_id%}">
         {% csrf_token %}
         <div class="col-md-6">
             <div class="input-group">
                 <select name="project" data-placeholder="Select View point" class="form-control" id="">
                     {% for project in projects %}
                     <option value="{{ project.id}}" {% if project_id|add:'0' == project.id %} selected {% endif %}>
                         {{ project.project_title }} 
                     </option>
                     {% endfor %}
                 </select>
                 <span class="input-group-append">
                     <span class="input-group-append"><button class="btn btn-primary"><i
                                 class="icon-search4"></i></button></span>
                 </span>
             </div>
     </form>
 </div>
 </div>