<!-- Update requirement -->
<div id="add" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add new Stakeholder:</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <form method="post" action="{% url 'projects:addstakeholder' project_id=project.id%}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Project Name:</label>
                                <input type="text" name="" value="{{project}}"
                                    class="form-control" disabled>
                            </div>


                            <div class="col-sm-12">
                                <label>Stakeholder Name:</label>
                                <input type="text" name="stakeholder"  class="form-control" placeholder="stakeholder name">
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn bg-primary">Add</button>
                    </div>
            </form>
        </div>
    </div>
</div>
</div>
<!-- /vertical form modal -->

<!-- edit  -->
<div id="edit" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Stakeholders:</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                <table class="table table-bordered">
                    <thead class="bg-primary-400 text-white">
                        <tr>

                            <th>Stakeholder Name</th>
                            <th>Options</th>

                        </tr>
                    </thead>
                    <tbody>

                        {% for stakeholder in stakeholders %}
                        
                        <tr>
                           
                         <form method="post" action="{% url 'projects:updatestakeholder' stakeholder.id %}">
                             {% csrf_token %}
                            <td> <input type="text" value="{{ stakeholder }}" name="stakeholder" disabled="true"  id="{{stakeholder.id}}"> </td>


                            <td>
                                <a  name="approve"  title="edit" onclick="edit_stakeholder{{stakeholder.id}}()" id="edit{{ stakeholder.id }}" data-popup="tooltip"
                                    data-placement="bottom"
                                    class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                    <i class="icon-pencil"></i>
                            </a>
                                <button type="submit" name="approve" title="update" data-popup="tooltip" style="display: none;" id="send{{ stakeholder.id }}"
                                    data-placement="bottom"
                                    class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm ml-1">
                                    <i class="icon-spinner9"></i>
                                </button>
                            
                            </td>
                            <script>
                                function edit_stakeholder{{stakeholder.id}}() {
                                    document.getElementById('{{ stakeholder.id }}').disabled = false;
                                    document.getElementById('send{{ stakeholder.id }}').style.display='block';
                                    document.getElementById('edit{{ stakeholder.id }}').style.display = 'none';

                                }
                            </script>
                        </form>
                        </tr>

                        {% endfor %}
                    </tbody>
                </table>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /vertical form modal -->

<!-- View stakeholders -->
<div id="view" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Stakeholders:</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead class="bg-primary-400 text-white">
                            <tr>
                                
                                <th>Stakeholder Name</th>
                                <th>Options</th>
                    
                            </tr>
                        </thead>
                        <tbody>
                    
                            {% for stakeholder in stakeholders %}
                            <tr>
                                

                                <td> <label>{{ stakeholder }}</label> </td>
                    
                    
                                <td>
                                    <a href="{% url 'projects:deletestakeholder' stakeholder.id %}"  name="approve" title="Delete" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                        <i class="icon-trash"></i>
                                </a>
                                </td>
                            </tr>
                    
                    
                            {% endfor %}
                        </tbody>
                    </table>

                  
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        
        </div>
    </div>
</div>
</div>
<!-- /vertical form modal -->




<!-- in addition  -->

<!-- /vertical form modal -->

<div id="view_incentive" class="modal  fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Project Incentives with Criterias:</h5>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>


            <div class="modal-body">
                <table class="table table-bordered table-responsive-xl table-hover">
                    <thead class="bg-primary-400 text-white">
                        <tr>

                            <th>Incentive type</th>
                            <th>description</th>
                            

                        </tr>
                    </thead>
                    <tbody>

                        {% for incentive in incentives %}
                        <tr>


                            <td> <label>{{ incentive.incentive.incentive_type }}</label> </td>
                            <td> {{ incentive.description }}</td>

                        </tr>


                        {% endfor %}
                    </tbody>
                </table>


            </div>

            {% if not incentives %}
            <center>
            <div class="alert alert-info text-center col-md-8">
                This project has no any Incentive!
            </div>
            </center>
            {% endif %}

            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>