{% extends 'header.html' %}
{% load static %}

{% block sidebar %}

{% endblock sidebar %}
{% block content %}

<script src="{% static 'global_assets/js/demo_pages/form_multiselect.js' %}"></script>
<script src="{% static 'global_assets/js/plugins/forms/selects/bootstrap_multiselect.js' %}"></script>
<div class="content">
    <div class="card">
        <div class="card-header bg-primary-400 header-elements-inline">
            <h6 class="card-title">
                <i class="icon-plus3"></i>
                Create Scenario for: <a href="{% url 'projects:viewproject' project_id=project.id%}"
                    class="font-weight-semibold text-white">{{ project.project_title}}</a> </h6>

        </div>
        {% if message %}
        <center>
            <div class="alert alert-danger text-center  col-md-9">
                {{ message }}
            </div>
        </center>
        {% endif %}

        <div class="card-body py-0">
            <form method="post" action="{% url 'projects:createscenario' project_id=project.id%}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mt-2">

                    <div class="col-sm-5">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Requirements:</label>
                                <select class="form-control multiselect" name="requirement" multiple="multiple"
                                    data-fouc required>
                                    {% for requirement in requirements %}
                                    <option value="{{ requirement.id }}"> {{ requirement }}</option>
                                    {% endfor %}

                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-2">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Stakeholder(S):</label>
                                <select class="form-control multiselect" name="stakeholder" multiple="multiple" data-fouc required>
                                    {% for stakeholder in stakeholders %}
                                    <option value="{{ stakeholder.id }}"> {{ stakeholder.name }}</option>
                                    {% endfor %}
                    
                                </select>
                            </div>
                        </div>
                    
                    </div>
                    <div class="col-sm-5">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Scenario Title:</label>
                                <input class="form-control" type="text" name="scenario_title" required
                                    placeholder="Enter Goal title">
                            </div>
                        </div>

                    </div>
                    <div class="form-group col-md-12">
                        <label class="font-weight-semibold">Scenario Descriptions:</label>
                        <textarea class="form-control" name="scenario_descriptions" id="editor-full" rows="4"
                            bottom="4"></textarea><br>
                        <button class="btn btn-primary float-right"><span class="fa fa-facebook">create</span></button>
                    </div>

                </div>
               
            </form>
        </div>


    </div>
</div>
{% endblock content %}