{% load static %}
{% include '../viewpoints/viewpoint_header.html' %}
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">


        <div class="card blog-horizontal blog-horizontal-xs">
            <div class="card-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="tabbable">
                            <ul class="nav  nav-tabs nav-justified">
                                <style>
                                    .viewpoint {

                                        background-color: blue;
                                        border: 2px white bold;

                                    }

                                    .requirement {
                                        background: blue;
                                    }

                                    .scenario {
                                        background: lightblue;
                                    }

                                    .goal {
                                        background: blue;
                                    }

                                    .process {
                                        background: rgb(235, 44, 124);
                                    }

                                    .usecase {
                                        background: rgb(83, 228, 38);
                                    }

                                    #li a {
                                        color: white
                                    }

                                    #li1 {
                                        width: auto;

                                        background-color: grey;
                                    }

                                    #li1 :hover a {
                                        background-color: white;
                                        color: blue;
                                    }
                                </style>
                                <li class="viewpoint col-md-2">
                                    <a href="{% url 'projects:viewpoint' viewpoint_id %}" class="col-md-2" style="color: white;font-weight:bold">
                                        ViewPoint Description
                                    </a>
                                </li>
                                <li class="goal col-md-2">
                                    <a href="{% url 'projects:viewgoal' goal_id %}" class="col-md-2" style="color:white;font-weight:bold">
                                        Goal Description
                                    </a>
                                </li>
                                <li class=" requirement col-md-2">
                                    <a href="{% url 'projects:viewrequirement' requirement_id %}" style="color:white;font-weight:bold">
                                        Requirement Description
                                    </a>
                                </li>
                                <li class=" scenario col-md-2">
                                    <a href="#" style="color:black;font-weight:bold">
                                        Scenarios
                                    </a>
                                </li>
                                <li class="process col-md-2">
                                    <a href="" style="color:black;font-weight:bold">
                                        Process
                                    </a>
                                </li>
                                <li class="usecase col-md-2">
                                    <a href="" style="color:black;font-weight:bold">
                                        Usecase
                                    </a>
                                </li>

                            </ul>

                            <li class="col-md-12 float-right" style="list-style: none;">
                                <a href="{% url 'projects:createscenario' requirement_id%}"><button
                                        class="btn bg-primary btn-labeled  rounded-round text-center float-right">
                                        Add Scenario <i class="icon-add"></i>
                                    </button></a>
                            </li>

                        </div>

                        <div class="form-group form-horizontal">
                            <label class="col-lg-1 text-semibold control-label">
                                Filter:</label>
                                <form method="post" action="{% url 'projects:scenarios' requirement_id %}">
                                    {% csrf_token %}
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select name="requirement" data-placeholder="Select View point" class="form-control" id="">
                                        {% for requirement in requirements %}
                                        <option value="{{ requirement.id}}">
                                            {{ requirement.name }}
                                        </option>
                                        {% endfor %}
                            
                                    </select>
                                    <span class="input-group-append">
                                        <span class="input-group-append"><button class="btn btn-primary"><i
                                                    class="icon-search4"></i></button></span>
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12 mb-10 mt-10">
                            <h5 class="text-semibold">
                                Scenarios:
                            </h5>
                            <div>
                                <ul class="list-group">
                                    {% for scenario in scenarios %}
                                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                                        <a href="{% url 'projects:viewscenario' scenario_id=scenario.id %}"
                                        >{{ scenario.name}}</a> by {{scenario.created_by}}, created
                                        on:{{ scenario.created_on}}
                                        <a href="{% url 'projects:viewscenario' scenario_id=scenario.id %}"
                                            class="btn float-right text-success-600 btn-flat btn-icon btn-rounded btn-sm"
                                            data-popup="tooltip" data-placement="bottom" title="View"
                                            style="margin-top: -6px;">
                                            <i class="icon-enter3"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /mini size -->

            </div>
        </div>
    </div>
</div>