
{% load static %}
{% include './viewpoint_header.html' %}
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">


<div class="card blog-horizontal blog-horizontal-xs">
    <div class="card-body">
        <div class="panel">
            <div class="panel-body">
        <div class="tabbable">
            <ul class="nav  nav-tabs nav-justified">
                <style>
                    .viewpoint {

                        background-color: blue;

                    }

                    .requirement {
                        background: lightblue;
                    }

                    .scenario {
                        background: lightblue;
                    }

                    .goal {
                        background: lightblue;
                    }

                    .process {
                        background: lightblue;
                    }

                    .usecase {
                        background: lightblue;
                    }

                    #li a {
                        color: white;
                        width: 100%;


                    }

                    #li {
                        border: 2 solid black;
                        align-content: center;

                    }

                    #li1 {
                        width: auto;

                        background-color: grey;
                    }

                    #li1 :hover a {
                        background-color: white;
                        color: blue;
                    }
                </style>
                <li class="viewpoint col-md-2">
                    <a href="#" class="col-md-2" style="color: white;font-weight:bold">
                        ViewPoint Description 
                    </a>
                </li>
                <li class="goal col-md-2">
                    {% if viewpoint %}
                    <a href="{% url 'projects:goals' viewpoint_id=viewpoint.id %}" class="col-md-2" style="color:black;font-weight:bold">
                         Goals 
                    </a>
                    {% endif %}
                </li>
                <li class=" requirement col-md-2" >
                    <a href="" style="color:black;font-weight:bold">
                         Requirements  
                    </a>
                </li>
                <li class=" scenario col-md-2">
                    <a href="" style="color:black;font-weight:bold">
                         Scenarios 
                    </a>
                </li>
                <li class="process col-md-2">
                     <a href="" style="color:black;font-weight:bold">
                        Process 
                    </a>
                </li>
                <li class="usecase col-md-2" >
                   <a href="" style="color:black;font-weight:bold">
                         Usecase 
                    </a>
                </li>
                
            </ul>

            <!-- <li class="col-md-12 float-right" style="list-style: none;">
                <a href="{% url 'projects:createviewpoint' project_id=project_id %}"><button
                        class="btn bg-primary btn-labeled  rounded-round text-center float-right">
                        Add Viewpoint <i class="icon-add"></i>
                    </button></a>
            </li> -->
            
        </div>
        <br><br>
        {% if viewpoint %}
        <div class="card-img-actions mr-1">
            <img class="card-img" src="../../../docs/{{ viewpoint.viewpoint_photo }}" alt="">
            <div class="card-img-actions-overlay card-img">
                <a href="#"
                    class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                    <i class="icon-link"></i>
                </a>
            </div>
        </div>

        <div class="mb-4">
            <h5 class="font-weight-semibold my-1">
                <a href="#" class="text-default">{{ viewpoint.viewpoint_name }}</a>
            </h5>

            <ul class="list-inline list-inline-dotted text-muted mb-0">
                <li class="list-inline-item">By <a href="#" class="text-muted">{{ viewpoint.created_by }}</a></li>
                <li class="list-inline-item">{{ viewpoint.created_on }}</li>
                <li class="list-inline-item"><a href="#" class="text-muted"><i
                            class="icon-thumbs-up2 font-size-base text-blue mr-2"></i> 281</a></li>
                <li class="list-inline-item"><a href="#" class="text-muted"><i
                            class="icon-thumbs-down2 font-size-base text-danger mr-2"></i> 281</a></li>
                <li class="list-inline-item col-md-3 float-right"><a href="#" class="text-muted"><i
                            class="icon-folder font-size-base text-blue mr-2"></i>Viewpoint Resources</a>
                </li>
            </ul>
        </div>

        {{ viewpoint.description|safe }}

        <div
            class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
            <ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
                <li class="list-inline-item"><a href="#" class="text-muted"><i
                            class="icon-star-full2 text-warning mr-2"></i></a></li>
                <li class="list-inline-item"><a href="#" class="text-muted"><i
                            class="icon-bubbles5 text-blue mr-2"></i>12 comments</a></li>
            </ul>
            <div class="col-md-10">
                <button
                        class="btn btn-primary float-right"> Contribute Resources</button>
            </div>


        </div>

        <div class="col-md-12 mb-10">
            <h5 class="text-semibold">
                Contents:
            </h5>
            <div>
                <ul class="list-group col-md-6">
                    <li class="list-group-item pl-10 pr-10 text-capitalize" title="">
                        number of goals
                        <!-- if its zero -->
                        <span class="badge badge-warning float-right">
                            0
                        </span>
                    </li>
                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                        number of Requirements
                        <span class="badge badge-info float-right">
                            10
                        </span>
                    </li>
                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                        number of Scenarios
                        <span class="badge badge-info float-right">
                            10
                        </span>
                    </li>
                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                        number of Processes
                        <span class="badge badge-info float-right">
                            10
                        </span>
                    </li>
                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                        number of Usecases
                        <span class="badge badge-info float-right">
                            10
                        </span>
                    </li>
                </ul>
            </div>
            {% endif %}
        </div>

    </div>
</div>
<!-- /mini size -->

</div>
</div>
</div>
</div>