<script>
       function public_view(){
       document.getElementById('invitational').disabled = true;
       document.getElementById('discoverable').disabled = true;
       document.getElementById('invitational').title = "you have selected public then can`t be invitational";
       document.getElementById('discoverable').title = "You have selected public then can`t be discoverable";
       document.getElementById('public').disabled = false;
       }
       function private_view() {
       document.getElementById('public').disabled = true;
       document.getElementById('public').checked=false;
       document.getElementById('invitational').disabled = false;
       document.getElementById('discoverable').disabled = false;
       }
</script>

{% load static %}
{% include '../../header.html'%}

<!-- Main content -->
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">

        <!-- Main charts -->
        <div class="row">
        <div class="col-xl-12">

            <!-- Traffic sources -->
            <div class="card">
                <div class="card-header header-elements-inline">
                    <h6 class="card-title">Create Project</h6>
                    <div class="header-elements">
                        <div class="form-check form-check-right form-check-switchery form-check-switchery-sm">
                            <label class="form-check-label">
                                Live update:
                                <input type="checkbox" class="form-input-switchery" checked data-fouc>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="card-body py-0">
                    <form method="post" action=""></form>
                    <div class="row">
                        
                        <div class="col-sm-3">
                            <div class="d-flex align-items-center justify-content-center mb-2">
                              <div class="col-md-12">
                                  <label>Project Title:</label>
                                  <input class="form-control" type="text" name="project_title" required placeholder="Enter project title">
                              </div>
                            </div>
                    
                        </div>

                        <div class="col-sm-3">
                            <div class="d-flex align-items-center justify-content-center mb-2">
                               <div class="col-md-12">
                                   <label>Sector:</label>
                                   <select name="sector" id="sector" class="form-control" required>
                                      
                                   </select>
                               </div>
                            </div>
                            
                        </div>

                        <div class="col-sm-3">
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <div class="col-md-12">
                                <label>Due Date</label>
                                <input type="date" class="form-control" required>
                                </div>
                            </div>
                            
                        </div>
                         <div class="col-sm-3">
                             <div class="d-flex align-items-center justify-content-center mb-2">
                                 <div class="col-md-12">
                                     <label>Project photo:</label>
                                     <input class="form-control" type="file" name="project_photo"
                                         placeholder="Enter project title">
                                 </div>
                             </div>
                            
                         </div>
                         <div class="col-sm-3">
                             <div class="d-flex align-items-center justify-content-center mb-2">
                                 <div class="col-md-12">
                                     <label>Project Docs:</label>
                                     <input class="form-control" type="file" name="project_photo"
                                         multiple>
                                 </div>
                             </div>

                         </div>
                      
                         <div class="col-sm-3">
                             <div class="d-flex align-items-center justify-content-center mb-2">
                                 <div class="col-md-12">
                                     <label>Project Visibility:</label>
                                     <div class="form-control">
                                     <input class="form-input-switchery" type="radio" id="public" name="visibility" style="padding:14px">public</>
                                     <input class="form-input-switchery" type="radio" id="private" name="visibility" style="padding:14px">private</>
                                         </div>
                                 </div>
                             </div>

                         </div>
                       
                         <div class="col-sm-6">
                             <div class="d-flex align-items-center justify-content-center mb-2">
                               
                                     
                                     <div class="form-group col-md-12">
                                         <label>Project Participation:</label>
                                             <select class="form-control multiselect" multiple="multiple" data-fouc>
                                                 <option value="Public">Public</option>
                                                 <option value="Invitational">Invitational</option>
                                                 <option value="Discoverable">Discoverable</option>
                                                
                                             </select>
                                         </div>
                                     </div> 
                                 </div>
                             </div>
                             <div className="form-group col-md-6 float-left">
                                 <label>Project Descriptions:</label>
                                 <textarea class="form-control" name="project_descriptions" id="editor-full" rows="4"
                                     bottom="4"></textarea><br>
                                 <button class="btn btn-primary float-right"><span class="fa fa-facebook">create</span></button>
                             </div>

                             
                             

                         </div>

                         
                    </div>
                     </form>
                </div>

                <div class="chart position-relative" id="traffic-sources"></div>
            </div>
            <!-- /traffic sources -->

        </div>
    </div>
    </div>
    </div>

  
    <!-- /main charts --