{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
<div class="row">
    <script>
        function public_view() {
            document.getElementById('invitational').disabled = true;
            document.getElementById('discoverable').disabled = true;
            document.getElementById('invitational').title = "you have selected public then can`t be invitational";
            document.getElementById('discoverable').title = "You have selected public then can`t be discoverable";
            document.getElementById('public').disabled = false;
        }
        function private_view() {
            document.getElementById('public').disabled = true;
            document.getElementById('public').checked = false;
            document.getElementById('invitational').disabled = false;
            document.getElementById('discoverable').disabled = false;
        }


    </script>
    <div class="card">
        <div class="bg-primary-400 card-header header-elements-inline">
            <h5 class="card-title font-weight-semibold">
                <i class="icon-pencil"></i>
                Create Project
            </h5>

        </div>

        <div class="card-body py-0 pt-2">
            <form method="post" action="{% url 'projects:createproject'%}" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row">

                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Project Title:</label>
                                <input class="form-control" type="text" name="project_title" required
                                    placeholder="Enter project title">
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Sector:</label>
                                <select class="form-control multiselect" name="sector" multiple="multiple" data-fouc>
                                    {% if sectors %}
                                    {% for sector in sectors %}
                                    <option value="{{ sector.id }}">{{ sector.sector_name }} </option>
                                    {% endfor %}
                                    {% endif %}


                                </select>

                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Due Date</label>
                                <input type="date" class="form-control" name="due_date" required>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Project photo:</label>
                                <input class="form-control" type="file" name="project_photo"
                                    placeholder="Enter project title">
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Project Docs:</label>
                                <input class="form-control" type="file" name="project_docs" multiple>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-3">
                        <div class="d-flex align-items-center justify-content-center mb-2">
                            <div class="col-md-12">
                                <label class="font-weight-semibold">Project Visibility:</label>
                                <div class="form-control">
                                    <input class="form-input-switchery" type="radio" onclick="public_view()"
                                        name="visibility" value="publick" style="padding:14px">public</>
                                    <input class="form-input-switchery" type="radio" onclick="private_view()"
                                        name="visibility" value="private" style="padding:14px">private</>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-6">
                        <div class="d-flex align-items-center justify-content-center mb-2">


                            <div class="form-group col-md-12">
                                <label class="font-weight-semibold">Project Participation:</label>
                                <select class="form-control multiselect" name="participation" multiple="multiple"
                                    data-fouc>
                                    <option value="Public" id="publick">public</option>
                                    <option value="Invitational" id="invitational">Invitational</option>
                                    <option value="Discoverable" id="discoverable">Discoverable</option>

                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div className="form-group col-md-6 float-left">
                    <label class="font-weight-semibold">Project Descriptions:</label>
                    <textarea class="form-control" name="project_descriptions" id="editor-full" rows="4"
                        bottom="4"></textarea><br>
                    <button class="btn btn-primary float-right"><span class="fa fa-facebook">create</span></button>
                </div>
            </form>
        </div>
    </div>
</div>
</div>
{% endblock content %}