{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">


    <script src="{% static 'js/graphs.js' %}"></script>

    <script>
    
    
        window.onload = function () {
    
        var male = {{ user_reports.1 }}
        var female = {{ user_reports.0 }}
        var viewpoints = {{ contribution_reports.0 }}
        var goals = {{ contribution_reports.1 }}
        var requirements = {{ contribution_reports.2 }}
        var scenarios = {{ contribution_reports.3 }}
        var processes = {{ contribution_reports.4 }}
        var usecases = {{ contribution_reports.5 }}
        var accepted_viewpoints = {{ all_viewpoints.0 }}
        var rejected_viewpoints = {{ all_viewpoints.1 }}
        var pending_viewpoints = {{ all_viewpoints.2 }}
        
        var accepted_process = {{ all_process.0 }}
        var rejected_process = {{ all_process.1 }}
        var pending_process = {{ all_process.2 }}
        var accepted_usecases = {{ all_usecases.0 }}
        var rejected_usecases = {{ all_usecases.1 }}
    
        var chart1 = new CanvasJS.Chart("chartContainer1", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
    
            data: [{
                type: "pie",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 14,
                indexLabel: "{label} - {y}",
                dataPoints: [{
                    label: "Male",
                    y: male
    
                },
                {
                    label: "Female",
                    y: female,
    
                }
                ]
            }]
        });

        var chart3 = new CanvasJS.Chart("chartContainer3", {
            theme: "light2", // "light1", "light2", "dark1", "dark2"
            exportEnabled: true,
            animationEnabled: true,
    
            data: [{
                type: "line",
                startAngle: 25,
                toolTipContent: "<b>{label}</b>: {y}",
                showInLegend: "true",
                legendText: "{label}",
                indexLabelFontSize: 14,
                indexLabel: "{label} - {y}",
                dataPoints: [{
                    label: "accepted",
                    y: accepted_viewpoints
    
                },
                {
                    label: "Rejected",
                    y: rejected_viewpoints,
    
                },
                {
                 label: "Pending",
                 y: pending_viewpoints,

                    }
                   
                ]
            }]
        });

        var chart4 = new CanvasJS.Chart("chartContainer4", {
                theme: "light2", // "light1", "light2", "dark1", "dark2"
                exportEnabled: true,
                animationEnabled: true,

                data: [{
                    type: "doughnut",
                    startAngle: 25,
                    toolTipContent: "<b>{label}</b>: {y}",
                    showInLegend: "true",
                    legendText: "{label}",
                    indexLabelFontSize: 14,
                    indexLabel: "{label} - {y}",
                    dataPoints: [{
                        label: "accepted",
                        y: accepted_process

                    },
                    {
                        label: "Rejected",
                        y: rejected_process,

                    },
                   {
                            label: "Pending",
                            y: pending_process,

                        },

                    ]
                }]
            });
    
    
    
        //This for Bar Graph to display at the lest side of the Page
        var chart = new CanvasJS.Chart("chartContainer2", {
            exportEnabled: true,
    
            animationEnabled: true,
            theme: "light2", // "light1", "light2", "dark1", "dark2"
    
            axisY: {
                title: "Number of Contributions ",
                includeZero: false
            },
    
            data: [{
                type: "column",
                yValueFormatString: "#,##0.0#\"\"",
                dataPoints: [
                    {
                        label: "ViewPoints ",
                        y: viewpoints
    
                    },
                    {
                        label: "Goals",
                        y: goals,
    
                    },
                    {
                        label: "Requirements",
                        y: requirements
    
                    },
                    {
                        label: "Scenarios",
                        y: scenarios
    
                    },
                    {
                        label: "Processes",
                        y: processes
    
                    },
                    {
                        label: "Use Cases",
                        y: usecases
    
                    }
    
    
    
                ]
            }]
        });
        chart.render();
    
        chart1.render();
        chart3.render();
        chart4.render();
        }
    </script>
    
    <div class="row">

        <div class="col-md-6">

            <!-- User details (with sample pattern) -->

            <div class="card">
                <div class="card-header bg-primary">
                    <center>
                        <h5>Contribution Reports </h5>
                    </center>
                </div>




                <div class="card-body bg-white text-center card-img-top" style="background-size: contain;">

                    <div id="chartContainer2" style="height: 370px; width: 100%;"></div>

                </div>



            </div>
            <!-- /user details (with sample pattern) -->





        </div>

        <div class="col-md-6">

            <!-- User details (with sample pattern) -->
            <div class="card">
                <div class="card-header bg-primary">
                    <center>
                        <h5>Project Members Reports</h5>
                    </center>
                </div>

                <div class="card-body border-top-0">


                    <div id="chartContainer1" style="height: 370px; width: 100%;"></div>



                </div>
            </div>
            <!-- /user details (with sample pattern) -->




        </div>

        <div class="col-md-6">
        
            <!-- User details (with sample pattern) -->
        
            <div class="card">
                <div class="card-header bg-primary">
                    <center>
                        <h5>Viewpoints Report </h5>
                    </center>
                </div>
        
        
        
        
                <div class="card-body bg-white text-center card-img-top" style="background-size: contain;">
        
                    <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
        
                </div>
        
        
        
            </div>
            <!-- /user details (with sample pattern) -->
        
        
        
        
        
        </div>

        <div class="col-md-6">
        
            <!-- User details (with sample pattern) -->
        
            <div class="card">
                <div class="card-header bg-primary">
                    <center>
                        <h5>Processes Report </h5>
                    </center>
                </div>
        
        
        
        
                <div class="card-body bg-white text-center card-img-top" style="background-size: contain;">
        
                    <div id="chartContainer4" style="height: 370px; width: 100%;"></div>
        
                </div>
        
        
        
            </div>
            <!-- /user details (with sample pattern) -->
        
        
        
        
        
        </div>

    </div>

    <!-- Update Residence Details -->
    <div id="update_job_details" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Update Job Details:</h5>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <form method="post" action="{% url 'projects:updatejobdetails'%}">
                    {% csrf_token %}
                    <div class="modal-body">
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4">
                                    <label>Professional:</label>
                                    <input type="text" name="professonal" value="{{member_details.professional}}"
                                        class="form-control">
                                </div>

                                <div class="col-sm-4">
                                    <label>Job Title:</label>
                                    <input type="text" name="job_title" value="{{member_details.job_title }}"
                                        class="form-control">
                                </div>
                                <div class="col-sm-4">
                                    <label>Institute Name</label>
                                    <input type="text" name="institution_name"
                                        value="{{member_details.institution_name }}" class="form-control">
                                </div>
                            </div>
                        </div>


                        <div class="modal-footer">
                            <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn bg-primary">Update</button>
                        </div>
                </form>
            </div>
        </div>
    </div>

</div>
{% endblock content %}
