{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">

    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header bg-primary-400 header-elements-inline">
                <h5 class="card-title">{{ indexhead }}:</h5>
                <div class="header-elements">

                    <a data-toggle="modal" data-target="#add_document"
                        class="btn bg-white text-primary btn-labeled btn-labeled btn-labeled-right rounded-round text-center float-right">
                        <b><i class="icon-plus3"></i></b>
                        Generate Document
                    </a>
                </div>

            </div>

            <div class="card-body">
                <div class="card card-table table-responsive shadow-0 mb-0">
                    <table class="table table-bordered">
                        <thead class="bg-primary-400 text-white">
                            <tr>
                                <th>#</th>

                                <th>Document</th>

                                <th>Options</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for num, doc in docs %}
                            <tr>
                                <td>{{ num }}</td>

                                <td>{{ doc.docx }}
                                </td>

                                <td>
                                    <a title="Download" href="/docs/generated_docs/{{ doc.docx }}" class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"
                                        ><i class="icon-download"></i></a>
                                    <a title="Delete" href="{% url 'projects:deletefile' file_id=doc.id%}" class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"
                                        ><i class="icon-trash"></i></a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% if not docs %}
                <div class="col-lg-12 text-center">
                    <center>
                        <p style="color:red"> Cureently there is no any created Document</p>
                    </center>
                </div>
                {% endif %}


                <!-- Vertical form modal -->
                <div id="add_document" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <h6 class="text-center">Generate Document:</h6>

                            <form method="POST" action="{% url 'projects:generatedocs' project_id=project.id %}"
                                enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="modal-body">

                                    <p>Do you want to generate a new Document?</p>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn  btn-danger" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-primary">Yes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /vertical form modal -->




            </div>
        </div>
    </div>
</div>
{% endblock content %}