{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">

    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header bg-primary-400 header-elements-inline">
                <h5 class="card-title">{{ indexhead }}:</h5>
                <div class="header-elements">

                    <a data-toggle="modal" data-target="#add_incentive"
                        class="btn bg-white text-primary btn-labeled btn-labeled btn-labeled-right rounded-round text-center float-right">
                        <b><i class="icon-plus3"></i></b>
                        Provide Incentives
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="card card-table table-responsive shadow-0 mb-0">
                    <table class="table table-bordered">
                        <thead class="bg-primary-400 text-white">
                            <tr>
                                <th>#</th>
                                <th>Project</th>
                                <th>Incentive type</th>
                                <th>Provided To</th>
                                <th>Description</th>
                                <th>Options</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for num, incentive in project_incentives %}
                            <tr>
                                <td>{{ num }}</td>
                                <td><a
                                        href="{% url 'projects:viewproject' project_id=incentive.projectincentive.project.id %}">{{ incentive.projectincentive.project.project_title }}</a>
                                    by {{incentive.projectincentive.project.created_by }}
                                </td>
                                <td>{{ incentive.projectincentive.incentive.incentive_type }}
                                </td>
                                <td>{{ incentive.member }}
                                </td>

                                <td>
                                    {{ incentive.description }}
                                </td>
                                <td>
                                    <a href="{% url 'projects:removeincentive' incentive_id=incentive.id %}"
                                        title="Remove" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                        <i class="icon-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% if not project_incentives %}
                <div class="col-lg-12 text-center">
                    <center>
                        <p style="color:red"> Cureently you have not Provide out Incentives</p>
                    </center>
                </div>
                {% endif %}


                <!-- Vertical form modal -->
                <div id="add_incentive" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <h6 class="text-center">Provide Incentive:</h6>

                            <form method="POST" action="{% url 'projects:projectincentives' project_id=project_id %}"
                                enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Select Member:</label>
                                                <select name="member" class="form-control ">
                                                    {% for member in project_members %}
                                                    <option value="{{ member.member.id }}">{{member.member.full_name}}
                                                    </option>
                                                    {% endfor %}
                                                </select>
                                            </div>

                                            <div class="col-sm-6">

                                                <label>Select Incentive Type</label>
                                                <div class="input-group">
                                                    <select name="incentive_type" class="form-control ">
                                                        {% for incentive_type in incentive_types %}
                                                        <option value="{{ incentive_type.id }}">
                                                            {{incentive_type.incentive.incentive_type}}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <span class="input-group-append">
                                                        <span class="input-group-append"><i
                                                                class="icon-add icon-2x text-green ml-1"
                                                                data-toggle="modal"
                                                                data-target="#add_incentive_type"></i></span>
                                                    </span>
                                                </div>


                                            </div>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Description</label>
                                                <textarea name="description" placeholder="write here"
                                                    class="form-control" required></textarea>
                                            </div>


                                        </div>
                                    </div>


                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-primary">Provide</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /vertical form modal -->




                <!-- Vertical form modal -->
                <div id="add_incentive_type" class="modal fade" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">

                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                            </div>
                            <h6 class="text-center">Add Incentive Type:</h6>

                            <form method="POST" action="{% url 'projects:addincentives' project_id=project_id %}"
                                enctype="multipart/form-data">

                                {% csrf_token %}
                                <div class="modal-body">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <label>Select Incentive Types:</label>
                                                <select class="form-control multiselect" name="incentives"
                                                    multiple="multiple" data-fouc required>
                                                    {% for type in types %}
                                                    <option value="{{ type.id }}"> {{ type.incentive_type }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>


                                        </div>
                                    </div>

                                </div>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn bg-primary">Add</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /vertical form modal -->




            </div>
        </div>
    </div>
</div>
{% endblock content %}