{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
    <!-- Bordered card body table -->

    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header bg-primary-400 header-elements-inline">
                <h5 class="card-title font-weight-semibold">{{project}} Project Comments:</h5>

            </div>


            <div class="card-body">
                <div class="row mb-2 mt-1 ">
                    <div class="col-md-6 text-left">
                        <h5 class="ml-2">Project Comments: <span
                                class="badge badge-primary badge-pill">{{total_comments}}</span></h5>
                    </div>
                    <div class="col-md-6 text-right">
                        <form method="POST" action="{% url 'projects:bulk-approval-project-comments'%}">
                            {% csrf_token %}

                        <div class="text-right">
                            <button type="submit" name="approve" title="Multiple Approve" data-popup="tooltip" data-placement="bottom"
                                class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                <i class="icon-check"></i>
                        </button>
                            <button type="submit" name="reject" title="Multiple Delete" data-popup="tooltip" data-placement="bottom"
                                class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                <i class="icon-trash"></i>
                    </button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-responsive-xl table-hover">
                    <thead class="bg-primary-400 text-white">
                        <tr>
                            <th>Select</th>
                            <th>Commented By</th>
                            <th>Comment Project</th>
                            <th>Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for comment in project_comments %}
                        <tr>

                            <td><input type="checkbox" name="comment" value="{{comment.comment.id}}" class="form-control-styled"></td>
                            <td>{{ comment.comment.commented_by }}</td>
                            <td>{{ comment.project }}</td>
                            <td>
                                <a title="view" data-popup="tooltip" data-placement="bottom" data-toggle="modal"
                                    data-target="#view_comment{{comment.comment.id}}"
                                    class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm"><i
                                        class="icon-enlarge7"></i>
                                </a>
                                <a href="{% url 'projects:approveprojectcomment' comment_id=comment.comment.id%}"
                                    title="Accept" data-popup="tooltip" data-placement="bottom"
                                    class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"><i
                                        class="icon-check"></i>
                                </a>
                                <a href="{% url 'projects:rejectprojectcomment' comment_id=comment.comment.id%}"
                                    title="Reject" data-popup="tooltip" data-placement="bottom"
                                    class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"><i
                                        class="icon-trash"></i>
                                </a>
                            </td>
                        </tr>


                        <div id="view_comment{{comment.comment.id}}" class="modal fade" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title">Comment Details:</h5>
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    </div>


                                    <div class="modal-body">
                                        {{comment.comment.comment}}

                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>

                                    </div>

                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        </form>


                    </tbody>
                    
                </table>
                <div class="col-md-12 text-center mt-1">
                    {% if project_comments %}
                    <span class="step-links">
                        {% if project_comments.has_previous %}
                        <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                        <a href="?page={{ project_comments.previous_page_number }}" class="">Back</a>
                        {% endif %}
                
                        <span class="current">
                            Page {{ project_comments.number }} of {{ project_comments.paginator.num_pages }}.
                        </span>
                
                        {% if project_comments.has_next %}
                        <a href="?page={{ project_comments.next_page_number }}" class="">next</a>
                        <a href="?page={{ project_comments.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                        {% endif %}
                    </span>
                    {% endif %}
                
               
                {% if not project_comments %}
                <div class="text-center alert alert-info">
                    No comments to display!
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}