{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
    <!-- Bordered card body table -->

    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header bg-primary-400 header-elements-inline">
                <h5 class="card-title font-weight-semibold">{{project}} Project requirements:</h5>

            </div>
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item"><a href="#requirement" class="nav-link active font-weight-semibold"
                            data-toggle="tab">Requirements</a></li>
                    <li class="nav-item"><a href="#comments" class="nav-link font-weight-semibold"
                            data-toggle="tab">Comments</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="requirement">

                        <div class="row mb-2 mt-1 ">
                            <div class="col-md-6 text-left">
                                <h5 class="ml-2">Requirements: <span
                                        class="badge badge-primary badge-pill">{{total_requirements}}</span></h5>
                            </div>
                            <div class="col-md-6 text-right">

                                <form action="{% url 'projects:bulk-approval-requirement'%}" method="post">
                                    {% csrf_token %}
                                
                                    <div class="text-right">
                                        <button type="submit" name="approve" title="Multiple Approve" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                            <i class="icon-check"></i>
                                        </button>
                                        <button type="submit" name="reject" title="Multiple Delete" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                            <i class="icon-trash"></i>
                                        </button>



                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered table-responsive-xl table-hover">

                            <thead class="bg-primary text-white">
                                <tr>
                                    
                                    <th>Select</th>
                                    <th>Contributed By</th>
                                    <th>Requirement Title</th>
                                    <th>Options</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for requirement in requirements %}
                                <tr>
                                    
                                    <td><input type="checkbox" name="requirement" value="{{requirement.id}}" class="form-control-styled">
                                    </td>
                                    <td>{{ requirement.created_by }}</td>
                                    <td>{{ requirement.requirement_name }}</td>



                                    <td> <a href="{% url 'projects:viewrequirement' requirement_id=requirement.id%}" title="view"
                                            data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm"><i
                                                class="icon-enlarge7"></i></a>

                                        <a href="{% url 'projects:approverequirement' requirement_id=requirement.id%}"
                                            title="Accept" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"><i
                                                class="icon-check"></i></a>
                                        <a href="{% url 'projects:rejectrequirement' requirement_id=requirement.id%}"
                                            title="Reject" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"><i
                                                class="icon-trash"></i></a>
                                    </td>

                                </tr>
                                {% endfor %}
                            </form>

                            </tbody>
                        </table>
                                <div class="col-md-12 text-center">
                                    {% if requirements %}
                                    <span class="step-links">
                                        {% if requirements.has_previous %}
                                        <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                                        <a href="?page={{ requirements.previous_page_number }}" class="">Back</a>
                                        {% endif %}
                                
                                        <span class="current">
                                            Page {{ requirements.number }} of {{ requirements.paginator.num_pages }}.
                                        </span>
                                
                                        {% if requirements.has_next %}
                                        <a href="?page={{ requirements.next_page_number }}" class="">next</a>
                                        <a href="?page={{ requirements.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                                        {% endif %}
                                    </span>
                                    {% endif %}
                                    {% if not requirements  %}
                                    <div class="text-center alert alert-info mt-2">
                                        There is no pending Requirements!
                                    </div>
                                    {% endif %}
                                </div>

                    </div>

                    <div class="tab-pane fade" id="comments">
                        <div class="row mb-2 mt-1 ">
                            <div class="col-md-6 text-left">
                                <h5 class="ml-2">Comments: <span
                                        class="badge badge-primary badge-pill">{{total_comments}}</span></h5>
                            </div>
                            <div class="col-md-6 text-right">
<form method="POST" action="{% url 'projects:bulk-approval-project-comments'%}">
    {% csrf_token %}

    <div class="text-right">
        <button type="submit" name="approve" title="Multiple Approve" data-popup="tooltip" data-placement="bottom"
            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
            <i class="icon-check"></i>
        </button>
        <button type="submit" name="reject" title="Multiple Delete" data-popup="tooltip" data-placement="bottom"
            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
            <i class="icon-trash"></i>
        </button>



                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-responsive-xl table-hover">
                            <thead class="bg-primary text-white">
                                <tr>

                                    <th>Select</th>
                                    <th>Commented By</th>
                                    <th>Commented Requirement</th>
                                    <th>Options</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for comment in requirement_comments %}
                                <tr>
                                   
                                    <td><input type="checkbox" name="comment" value="{{comment.comment.id}}"
                                            class="form-control-styled"></td>
                                    <td>{{ comment.comment.commented_by }}</td>
                                    <td>{{ comment.requirement.requirement_name }}</td>
                                    <td> <a title="view" data-popup="tooltip" data-placement="bottom"
                                            data-toggle="modal" data-target="#view_comment{{comment.comment.id}}"
                                            class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm"><i
                                                class="icon-enlarge7"></i></a>

                                        <a href="{% url 'projects:approverequirementcomment' comment_id=comment.comment.id%}"
                                            title="Accept" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"><i
                                                class="icon-check"></i></a>
                                        <a href="{% url 'projects:rejectrequirementcomment' comment_id=comment.comment.id%}"
                                            title="Reject" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"><i
                                                class="icon-trash"></i></a>
                                    </td>

                                </tr>

                                <div id="view_comment{{comment.comment.id}}" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Comment Details:</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>


                                            <div class="modal-body">
                                                {{comment.comment.comment}}

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link"
                                                    data-dismiss="modal">Close</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </form>
                            </tbody>
                        </table>
                        <div class="col-md-12 text-center">
                            {% if requirement_comments %}
                            <span class="step-links">
                                {% if requirement_comments.has_previous %}
                                <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                                <a href="?page={{ requirement_comments.previous_page_number }}" class="">Back</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ requirement_comments.number }} of {{ requirement_comments.paginator.num_pages }}.
                                </span>
                        
                                {% if scenario_comments.has_next %}
                                <a href="?page={{ requirement_comments.next_page_number }}" class="">next</a>
                                <a href="?page={{ requirement_comments.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                                {% endif %}
                            </span>
                            {% endif %}
                            {% if not requirement_comments %}
                            <div class="text-center alert alert-info mt-2">
                                There is no pending comments!
                            </div>
                            {% endif %}
                        </div>


                    </div>
                    <!--end loop this as one comment -->
                </div>
            </div>

        
        </div>
    </div>
</div>
{% endblock content %}