{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './myproject_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
    <!-- Bordered card body table -->

    <div class="col-xl-12">
        <div class="card ">
            <div class="card-header bg-primary-400 header-elements-inline">
                <h5 class="card-title font-weight-semibold">{{project}} Project scenarios:</h5>

            </div>
            {% if scenarios %}
            <div class="card-body">
                <ul class="nav nav-tabs nav-tabs-bottom nav-justified">
                    <li class="nav-item"><a href="#scenario" class="nav-link active font-weight-semibold"
                            data-toggle="tab">Scenarios</a></li>
                    <li class="nav-item"><a href="#comments" class="nav-link font-weight-semibold"
                            data-toggle="tab">Comments</a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane fade show active" id="scenario">

                        <div class="row mb-2 mt-1 ">
                            <div class="col-md-6 text-left">
                                <h5 class="ml-2">Scenarios: <span
                                        class="badge badge-primary badge-pill">{{total_scenarios}}</span></h5>
                            </div>
                            <div class="col-md-6 text-right">

                                <div class="text-right">
                                    <a href="#" title="Multiple Approve" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                        <i class="icon-check"></i>
                                    </a>
                                    <a href="#" title="Multiple Delete" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                        <i class="icon-trash"></i>
                                    </a>



                                </div>
                            </div>
                        </div>

                        <table class="table table-bordered table-responsive-xl table-hover">

                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Select</th>
                                    <th>Contributed By</th>
                                    <th>scenario Title</th>
                                    <th>Options</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for num, scenario in scenarios %}
                                <tr>
                                    <td>{{num}}</td>
                                    <td><input type="checkbox" value="{{scenario.id}}" class="form-control-styled">
                                    </td>
                                    <td>{{ scenario.scenario.created_by }}</td>
                                    <td>{{ scenario.scenario.name }}</td>



                                    <td> <a href="{% url 'projects:viewscenario' scenario_id=scenario.id%}" title="view"
                                            data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm"><i
                                                class="icon-enlarge7"></i></a>

                                        <a href="{% url 'projects:approvescenario' scenario_id=scenario.id%}"
                                            title="Accept" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"><i
                                                class="icon-check"></i></a>
                                        <a href="{% url 'projects:rejectscenario' scenario_id=scenario.id%}"
                                            title="Reject" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"><i
                                                class="icon-trash"></i></a>
                                    </td>

                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>

                    </div>

                    <div class="tab-pane fade" id="comments">
                        <div class="row mb-2 mt-1 ">
                            <div class="col-md-6 text-left">
                                <h5 class="ml-2">Comments: <span
                                        class="badge badge-primary badge-pill">{{total_comments}}</span></h5>
                            </div>
                            <div class="col-md-6 text-right">

                                <div class="text-right">
                                    <a href="#" title="Multiple Approve" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                        <i class="icon-check"></i>
                                    </a>
                                    <a href="#" title="Multiple Delete" data-popup="tooltip" data-placement="bottom"
                                        class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                        <i class="icon-trash"></i>
                                    </a>



                                </div>
                            </div>
                        </div>
                        <table class="table table-bordered table-responsive-xl table-hover">
                            <thead class="bg-primary text-white">
                                <tr>
                                    <th>#</th>
                                    <th>Select</th>
                                    <th>Commented By</th>
                                    <th>Commented scenario</th>
                                    <th>Options</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for num, comment in scenario_comments %}
                                <tr>
                                    <td>{{num}}</td>
                                    <td><input type="checkbox" value="{{comment.comment.id}}"
                                            class="form-control-styled"></td>
                                    <td>{{ comment.comment.commented_by }}</td>
                                    <td>{{ comment.scenario.name }}</td>
                                    <td> <a title="view" data-popup="tooltip" data-placement="bottom"
                                            data-toggle="modal" data-target="#view_comment{{num}}"
                                            class="btn btn-outline bg-primary-400 border-primary-400 text-primary btn-icon rounded-round btn-sm"><i
                                                class="icon-enlarge7"></i></a>

                                        <a href="{% url 'projects:approvescenariocomment' comment_id=comment.comment.id%}"
                                            title="Accept" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm"><i
                                                class="icon-check"></i></a>
                                        <a href="{% url 'projects:rejectscenariocomment' comment_id=comment.comment.id%}"
                                            title="Reject" data-popup="tooltip" data-placement="bottom"
                                            class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm"><i
                                                class="icon-trash"></i></a>
                                    </td>

                                </tr>

                                <div id="view_comment{{num}}" class="modal fade" tabindex="-1">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Comment Details:</h5>
                                                <button type="button" class="close"
                                                    data-dismiss="modal">&times;</button>
                                            </div>


                                            <div class="modal-body">
                                                {{comment.comment.comment}}

                                            </div>

                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-link"
                                                    data-dismiss="modal">Close</button>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                    <!--end loop this as one comment -->
                </div>
            </div>

            {% else %}
            <div class="text-center alert alert-info mt-2">
                Nothing to display!
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}