{% load static %}
{% include '../../header.html'%}
<div class="row">
    {% if projects %}
    {% for project in projects %}
<div class="col-lg-6">

    <!-- Mini size -->
    <div class="card blog-horizontal blog-horizontal-xs">
        <div class="card-body">
            <div class="card-img-actions mr-3">
                <img class="card-img img-fluid" src="{% static 'assets/images/page.jpg' %}"
                    alt="">
                <div class="card-img-actions-overlay card-img">
                    <a href="{% url 'projects:viewproject' project_id=project.id %}"
                        class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
                        <i class="icon-link"></i>
                    </a>
                </div>
            </div>

            <div class="mb-3">
                <h5 class="font-weight-semibold my-1">
                    <a href="#" class="text-default">{{ project.project_title }}</a>
                </h5>

                <ul class="list-inline list-inline-dotted text-muted mb-0">
                    <li class="list-inline-item">By <a href="#" class="text-muted">{{ project.created_by }}</a></li>
                    <li class="list-inline-item">J{{ project.created_on }}</li>
                    <li class="list-inline-item"><a href="#" class="text-muted"><i
                                class="icon-thumbs-up2 font-size-base text-blue mr-2"></i> 281</a></li>
                                <li class="list-inline-item"><a href="#" class="text-muted"><i
                                            class="icon-thumbs-down2 font-size-base text-danger mr-2"></i> 281</a></li>
                </ul>
            </div>

            {{ project.description|safe|truncatewords:40 }}
            <a href="{% url 'projects:viewproject' project_id=project.id %}">[...]</a>

            <div
                class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                <ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
                    <li class="list-inline-item"><a href="#" class="text-muted"><i class="icon-star-full2 text-warning mr-2"></i></a></li>
                    <li class="list-inline-item"><a href="#" class="text-muted"><i class="icon-bubbles5 text-blue mr-2"></i>12 comments</a></li>
                </ul>

               
            </div>
        </div>
    </div>
    <!-- /mini size -->

</div>
{% endfor %}
{% endif %}
 {% if not projects %}
 <div class="col-lg-12 text-center">
 <center>
     <p style="color:red"> There is not Project cureently</p>
 </center>
 </div>
 {% endif %}

</div>
</div>