{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include '../../outer_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
    <div class="row">

        {% if message %}

        <script>
            $(document).ready(function () {
                $('#notification1').modal('show');
            });

        </script>


        <div id="notification1" class="modal top" tabindex="-1">
            <div class="modal-dialog ">
                <div class="modal-content bg-primary-300 ">
                    <div class="modal-header">

                        <h5 class="modal-title text-center">Notification</h5>

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>

                    <div class="modal-body">


                        <p>{{ message}}</p>



                    </div>

                    <div class="modal-footer col-md-12">
                        <a href="{% url 'projects:projects' %}"><button type="button"
                                class="btn btn-danger text-white">Not now</button></a>
                        <a href="{% url 'projects:membershiprequest' project_id=project_id %}"><button type="submit"
                                class="btn bg-primary ">okay</button></a>
                    </div>
                </div>

            </div>
        </div>

        {% endif %}

        {% if requestmessage %}
        <script>
            $(document).ready(function () {
                $('#notification').modal('show');
            });

        </script>


        <div id="notification" class="modal top" tabindex="-1">
            <div class="modal-dialog ">
                <div class="modal-content bg-warning-300 text-red">
                    <div class="modal-header">

                        <h5 class="modal-title text-center">Notification</h5>

                        <button type="button" class="close" data-dismiss="modal">&times;</button>

                    </div>

                    <div class="modal-body">


                        <p>{{ requestmessage}}</p>



                    </div>

                    <div class="modal-footer col-md-12">

                        <a href="{% url 'projects:projects'%}"><button type="submit"
                                class="btn bg-primary ">okay</button></a>
                    </div>
                </div>

            </div>
        </div>

        {% endif %}

    </div>
    <div class="card col-xl-12">
        <div class="card-header header-elements-inline" style="border-bottom:1px solid #ddd;">
            <h5 class="card-title font-weight-semibold">
                Projects
            </h5>
            <a href="{% url 'projects:createproject' %}"
                class="btn bg-primary-400 btn-labeled btn-labeled-right rounded-round  btn-sm"><b><i
                        class="icon-plus3"></i></b> Create Project</a>
        </div>

        <div class="card-body  row pt-sm-1 project_card">
            {% if projects %}
            {% for project in projects %}
            <div class="col-lg-6 d-flex align-items-stretch">
                <div class="card blog-horizontal blog-horizontal-xs ">
                    <div class="card-body row ">
                        <div class="card-img-actions col-md-4">
                            <img class="card-img img-fluid" src="/docs/{{ project.project_photo }}" alt="">
                            <div class="card-img-actions-overlay card-img">
                                <a href="{% url 'projects:viewproject' project_id=project.id %}"
                                    class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round"
                                    data-popup="tooltip" title="Open project" data-placement="bottom">
                                    <i class="icon-enlarge7"></i>
                                </a>
                            </div>
                        </div>

                        <div class="col-md-8 ">
                            <h5 class="font-weight-semibold my-1">
                                <a href="{% url 'projects:viewproject' project_id=project.id %}"
                                    class="text-primary">{{ project.project_title }}</a>
                            </h5>

                            <ul class="list-inline text-muted mb-0">
                                <li class="list-inline-item">
                                    <span class="font-weight-semibold">By:</span> <a href="{% url 'projects:memberdetails' member_id=project.created_by.id%}"
                                        class="text-muted">{{ project.created_by }}</a></li>
                                <li class="list-inline-item">
                                    <span class="font-weight-semibold">Created On:</span> {{ project.created_on }}
                                </li>
                                <li class="list-inline-item">
                                    <span class="font-weight-semibold">Due Date:</span>
                                    <span class="text-warning-300">{{ project.due_date }}</span>
                                </li>
                                {% if project.project_visibility == "private"%}
                                <li class="list-inline-item  font-size-sm col-md-12 row ">
                                    <div class="col-sm-6">
                                        <i class="icon-lock2 text-danger-400" style="font-size: 13px;"> </i>
                                        Private
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <i class=" icon-medal-star text-orange" title="Earn appreciation letter"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>

                                        <i class=" icon-certificate text-slate" title="Earn a certificate"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>

                                        <i class=" icon-cash3 text-success-400" title="Earn cash prize"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>
                                    </div>
                                </li>
                                {% else %}
                                <li class="list-inline-item row  col-md-12 font-size-sm">
                                    <div class="col-sm-6">
                                        <i class=" icon-folder-open text-primary-400" style="font-size: 13px;"> </i>
                                        Public
                                    </div>
                                    <div class="col-sm-6 text-right">
                                        <i class=" icon-medal-star text-orange" title="Earn appreciation letter"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>

                                        <i class=" icon-certificate text-slate" title="Earn a certificate"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>

                                        <i class=" icon-cash3 text-success-400" title="Earn cash prize"
                                            data-placement="bottom" data-popup="tooltip" style="font-size: 14px;">
                                        </i>
                                    </div>
                                </li>
                                {% endif %}
                                <li class="list-inline-item ">

                                </li>

                            </ul>
                        </div>

                        <div class="col-md-12 mt-1 " style=" color: rgba(51,51,51,.85)">
                            {{ project.description|safe|truncatewords:40 }}
                        </div>
                        <a href="{% url 'projects:viewproject' project_id=project.id %}" data-popup="tooltip"
                            title="Open project" data-placement="bottom">[Open...]</a>

                        <div
                            class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                            <ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">

                                <li class="list-inline-item"><a
                                        href="{% url 'projects:viewproject' project_id=project.id %}"
                                        class="text-muted"><i class="icon-bubbles5 text-blue mr-2"></i>comments</a>
                                </li>
                            </ul>


                        </div>
                    </div>
                </div>


                <!-- rate model -->
                <div id="star" class="modal top" tabindex="-1">
                    <div class="modal-dialog modal-xs">
                        <form method="POST" action="{% url 'projects:rateproject' project_id=project.id%}">
                            {% csrf_token %}
                            <div class="modal-content bg-white-300" style="color:red">
                                <div class="modal-header">

                                    <h5 class="modal-title text-center">Rate Viewpoint</h5>

                                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                                </div>

                                <div class="modal-body">

                                    <div class="rate float-center" style="margin-left: 3rem;">
                                        <input type="radio" id="star5" name="rate" value="5" /><label for="star5"
                                            title="Best">5
                                            stars</label>
                                        <input type="radio" id="star4" name="rate" value="4" /><label for="star4"
                                            title="Better">4
                                            stars</label>
                                        <input type="radio" id="star3" name="rate" value="3" /><label for="star3"
                                            title="Good">3
                                            stars</label>
                                        <input type="radio" id="star2" name="rate" value="2" /><label for="star2"
                                            title="Normal">2
                                            stars</label>
                                        <input type="radio" id="star1" name="rate" value="1" /><label for="star1"
                                            title="Bad">1
                                            star</label>
                                    </div>


                                </div>

                                <div class="modal-footer col-md-12">
                                    <button type="button" class="btn btn-danger text-white" data-dismiss="modal">Not
                                        now</button>
                                    <button type="submit" class="btn bg-primary ">Rate</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /custom background color -->



            </div>

            {% endfor %}
            <div class="col-md-12 text-center">
                <span class="step-links">
                    {% if projects.has_previous %}
                    <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                    <a href="?page={{ projects.previous_page_number }}" class="">Back</a>
                    {% endif %}

                    <span class="current">
                        Page {{ projects.number }} of {{ projects.paginator.num_pages }}.
                    </span>

                    {% if projects.has_next %}
                    <a href="?page={{ projects.next_page_number }}" class="">next</a>
                    <a href="?page={{ projects.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                    {% endif %}
                </span>
            </div>
        </div>
        {% else %}
        <div class="alert alert-info text-center col-md-12">
            No project(s) to display!
        </div>
        {% endif %}
    </div>
</div>
{% endblock content %}