{% extends 'header.html' %}
{% load static %}

{% block sidebar %}

{% endblock sidebar %}
{% block content %}
<div class="content">
    <div class="card blog-horizontal blog-horizontal-xs">
        <div class="card-body">
            <div class="panel">
                {% include '../workspace_title.html'%}
                <div class="panel-body">
                    <div class="tabbable">
                        <ul class="nav  nav-tabs nav-justified text-center">
                            <style>
                                .viewpoint {

                                    background-color: lightblue;

                                }

                                .requirement {
                                    background: lightblue;
                                }

                                .scenario {
                                    background: lightblue;
                                }

                                .goal {
                                    background: lightblue;
                                }

                                .process {
                                    background: #2196f3;
                                }

                                .usecase {
                                    background: lightblue;
                                }

                                #li a {
                                    color: white;
                                    width: 100%;


                                }

                                #li {
                                    border: 2 solid black;
                                    align-content: center;

                                }

                                #li1 {
                                    width: auto;

                                    background-color: grey;
                                }

                                #li1 :hover a {
                                    background-color: white;
                                    color: #2196f3;
                                }
                            </style>
                            <li class="viewpoint col-md-2 p-2">
                                <a href="{% url 'projects:viewpoints' project_id=project_id %}" class="col-md-2"
                                    style="color: black;font-weight:bold">
                                    ViewPoints
                                </a>
                            </li>
                            <li class="goal col-md-2 p-2">
                                <a href="{% url 'projects:projectgoals' project_id=project_id %}" class="col-md-2"
                                    style="color:black;font-weight:bold">
                                    Goals
                                </a>
                            </li>
                            <li class=" requirement col-md-2 p-2">
                                <a href="{% url 'projects:projectrequirements' project_id=project_id %}"
                                    style="color:black;font-weight:bold">
                                    Requirements
                                </a>
                            </li>
                            <li class=" scenario col-md-2 p-2">
                                <a href="{% url 'projects:projectscenarios' project_id=project_id %}"
                                    style="color:black;font-weight:bold">
                                    Scenarios
                                </a>
                            </li>
                            <li class="process col-md-2 p-2">
                                <a href="#" style="color:white;font-weight:bold">
                                    Processs
                                </a>
                            </li>
                            <li class="usecase col-md-2 p-2">
                                <a href="{% url 'projects:projectusecases' project_id=project_id %}"
                                    style="color:black;font-weight:bold">
                                    Usecases
                                </a>
                            </li>

                        </ul>


                    </div>
                    <div class="form-group form-horizontal pb-1 row" style="border-bottom: 1px solid #ddd;">
                        <div class="col-md-6">
                            {% if requirements %}
                            <label class="col-md-12 font-weight-semibold control-label">
                                Filter:</label>
                            <form method="post" action="{% url 'projects:processes' requirement_id=requirement.id %}">
                                {% csrf_token %}
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <select name="requirement" data-placeholder="Select View point"
                                            class="form-control" id="">
                                            {% for requirement in requirements %}
                                            <option value="{{ trequirement.id}}">
                                                {{ requirement.name}}
                                            </option>
                                            {% endfor %}

                                        </select>
                                        <span class="input-group-append">
                                            <span class="input-group-append"><button class="btn btn-primary"><i
                                                        class="icon-search4"></i></button></span>
                                        </span>
                                    </div>

                                </div>
                            </form>
                            {% endif %}
                        </div>
                        <div class="col-md-6 text-right">
                            
                            <a href="{% url 'projects:createprocess' project_id=project.id %}"
                                class="btn bg-primary-400 btn-labeled btn-labeled-right rounded-round  btn-sm">
                                Add Process
                                <b><i class="icon-plus3"></i></b>
                            </a>
                           
                        </div>
                    </div>
                  
                </div>

                <div class="col-md-12 mb-10 mt-10">
                    <h5 class="font-weight-semibold">
                        {{ requirement }} Processes:
                    </h5>
                    <div>
                        <ul class="list-group">
                            {% for process in processes %}
                            <li class="list-group-item pl-10 pr-10 ">

                                <a href="{% url 'projects:viewprocess' process_id=process.id%}"
                                    class="text-primary">{{ process.process.process_name }}</a>
                                <br>
                                <span class="font-weight-semibold">By:</span>
                                {{ process.process.created_by }}, <span class="text-muted"> Created On:
                                    {{ process.process.created_on }}</span>

                                <a href="{% url 'projects:viewprocess' process_id=process.id%}"
                                    class="btn float-right text-success-600 btn-flat btn-icon btn-rounded btn-sm"
                                    data-popup="tooltip" data-placement="bottom" title="View" style="margin-top: -6px;">
                                    <i class="icon-enter3"></i>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>

                    </div>

                    <div class="col-md-12 text-center">
                        <span class="step-links">
                            {% if processes %}
                            {% if processes.has_previous %}
                            <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                            <a href="?page={{ processes.previous_page_number }}" class="">Back</a>
                            {% endif %}
                    
                            <span class="current">
                                Page {{ processes.number }} of {{ processes.paginator.num_pages }}.
                            </span>
                    
                            {% if processes.has_next %}
                            <a href="?page={{ processes.next_page_number }}" class="">next</a>
                            <a href="?page={{ processes.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                            {% endif %}
                            {% endif %}
                            {% if not processes %}
                            <div class="alert alert-info text-center col-md-12">
                                No Process(s) to display!
                            </div>
                            {% endif %}
                        </span>
                    </div>


                </div>

            </div>
        </div>
        <!-- /mini size -->

    </div>
</div>
{% endblock content %}