{% load static %}
{% include '../viewpoints/viewpoint_header.html' %}
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">


        <div class="card blog-horizontal blog-horizontal-xs">
            <div class="card-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="tabbable">
                            <ul class="nav  nav-tabs nav-justified">
                                <style>
                                    .viewpoint {

                                        background-color: blue;
                                        border: 2px white bold;

                                    }

                                    .requirement {
                                        background: blue;
                                    }

                                    .scenario {
                                        background: blue;
                                    }

                                    .goal {
                                        background: blue;
                                    }

                                    .process {
                                        background: blue;
                                    }

                                    .usecase {
                                        background: lightblue;
                                    }

                                    #li a {
                                        color: white
                                    }

                                    #li1 :hover a {
                                        background-color: white;
                                        color: blue;
                                    }
                                </style>
                                <li class="viewpoint col-md-2">
                                    <a href="{% url 'projects:viewpoint' viewpoint_id%}" class="col-md-2" style="color: white;font-weight:bold">
                                        ViewPoint Description
                                    </a>
                                </li>
                                <li class="goal col-md-2">
                                    <a href="{% url 'projects:viewgoal' goal_id%}" class="col-md-2" style="color:white;font-weight:bold">
                                        Goal Description
                                    </a>
                                </li>
                                <li class=" requirement col-md-2">
                                    <a href="{% url 'projects:viewrequirement' requirement_id%}" style="color:white;font-weight:bold">
                                        Requirement Description
                                    </a>
                                </li>
                                <li class=" scenario col-md-2">
                                    <a href="{% url 'projects:viewscenario' scenario_id%}" style="color:white;font-weight:bold">
                                        Scenario Description
                                    </a>
                                </li>
                                <li class="process col-md-2">
                                    <a href="{% url 'projects:viewprocess' process_id%}" style="color:white;font-weight:bold">
                                        Process Description
                                    </a>
                                </li>
                                <li class="usecase col-md-2">
                                    <a href="#" style="color:black;font-weight:bold">
                                        Usecase
                                    </a>
                                </li>

                            </ul>

                            <li class="col-md-12 float-right" style="list-style: none;">
                                <a href="{% url 'projects:createusecase'  process_id%}"><button
                                        class="btn bg-primary btn-labeled  rounded-round text-center float-right">
                                        Add Usecase <i class="icon-add"></i>
                                    </button></a>
                            </li>

                        </div>

                        <div class="form-group form-horizontal">
                            <label class="col-lg-2 text-semibold control-label">
                                Filter Process:</label>
                                 <form method="post" action="{% url 'projects:usecases' process_id%}">
                                     {% csrf_token %}
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select name="process" data-placeholder="Select View point" class="form-control"
                                        id="">
                                        {% for process in processes%}
                                        <option value="{{process.id}}">
                                            {{ process.process_name}}
                                        </option>
                                        {% endfor %}
                                    </select>
                                    <span class="input-group-append">
                                        <span class="input-group-append"><button class="btn btn-primary"><i
                                                    class="icon-search4"></i></button></span>
                                    </span>
                                </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-12 mb-10 mt-10">
                            <h5 class="text-semibold">
                                Usecases:
                            </h5>
                            <div>
                                <ul class="list-group">
                                    {% for usecase in usecases %}
                                    <li class="list-group-item pl-10 pr-10 text-capitalize">
                                         <a href="{% url 'projects:viewusecase' usecase_id=usecase.id %}">
                                             {{ usecase.usecase_name}}</a>  By {{ usecase.created_by}} Created On: {{ usecase.created_on}}
                                        <!-- <a href=""
                                            class="btn float-right text-warning-600 btn-flat btn-icon btn-rounded btn-sm"
                                            data-popup="tooltip" data-placement="bottom" title="Delete"
                                            style="margin-top: -6px;">
                                            <i class="icon-trash"></i>
                                        </a>
                                        <a href=""
                                            class="btn float-right text-info-600 btn-flat btn-icon btn-rounded btn-sm"
                                            data-popup="tooltip" data-placement="bottom" title="Edit"
                                            style="margin-top: -6px;">
                                            <i class="icon-pencil"></i>
                                        </a> -->
                                        <a href="{% url 'projects:viewusecase' usecase_id=usecase.id %}"
                                            class="btn float-right text-success-600 btn-flat btn-icon btn-rounded btn-sm"
                                            data-popup="tooltip" data-placement="bottom" title="View"
                                            style="margin-top: -6px;">
                                            <i class="icon-enter3"></i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- /mini size -->

            </div>
        </div>
    </div>
</div>