<script>
    function showComments() {
        document.getElementById('comments').style.display = 'block'

    }

    function closetab() {
        document.getElementById('comments').style.display = 'none'
    }
</script>
{% load static %}
{% include '../rate_dependence.html'%}
{% include '../viewpoints/viewpoint_header.html' %}
<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">


        <div class="card blog-horizontal blog-horizontal-xs">
            <div class="card-body">
                <div class="panel">
                    {% include '../workspace_title.html'%}
                    <div class="panel-body">
                        <div class="tabbable">
                            <ul class="nav  nav-tabs nav-justified text-center">
                                <style>
                                    .viewpoint {

                                        background-color: lightblue;

                                    }

                                    .requirement {
                                        background: blue;
                                    }

                                    .scenario {
                                        background: lightblue;
                                    }

                                    .goal {
                                        background: lightblue;
                                    }

                                    .process {
                                        background: lightblue;
                                    }

                                    .usecase {
                                        background: lightblue;
                                    }

                                    #li a {
                                        color: white;
                                        width: 100%;


                                    }

                                    #li {
                                        border: 2 solid black;
                                        align-content: center;

                                    }

                                    #li1 {
                                        width: auto;

                                        background-color: grey;
                                    }

                                    #li1 :hover a {
                                        background-color: white;
                                        color: blue;
                                    }
                                </style>
                                <li class="viewpoint col-md-2">
                                    <a href="{% url 'projects:viewpoint' viewpoint_id %}" class="col-md-2"
                                        style="color: black;font-weight:bold">
                                        ViewPoint Description
                                    </a>
                                </li>
                                <li class="goal col-md-2">
                                    <a href="{% url 'projects:viewgoal' goal_id%}" class="col-md-2"
                                        style="color:black;font-weight:bold">
                                        Goal Description
                                    </a>
                                </li>
                                <li class=" requirement col-md-2">
                                    <a href="#" style="color:white;font-weight:bold">
                                        Requirement Description
                                    </a>
                                </li>
                                <li class=" scenario col-md-2">
                                    <a href="{% url 'projects:scenarios' requirement_id=requirement.id%}" style="color:black;font-weight:bold">
                                        Scenarios
                                    </a>
                                </li>
                              
                                <li class="process col-md-2">
                                    <a href="{% url 'projects:projectprocesses' project_id=project_id%}" style="color:black;font-weight:bold">
                                        Process
                                    </a>
                                </li>
                                <li class="usecase col-md-2">
                                    <a href="{% url 'projects:projectusecases' project_id=project_id%}" style="color:black;font-weight:bold">
                                        Usecase
                                    </a>
                                </li>

                            </ul>

                            <li class="col-md-12 float-right" style="list-style: none;">
                                <a href="{% url 'projects:createrequirement' goal_id %}"><button
                                        class="btn bg-primary btn-labeled  rounded-round text-center float-right">
                                        Add Requirement <i class="icon-add"></i>
                                    </button></a>
                            </li>

                        </div>

                        <div class="form-group form-horizontal">
                            <label class="col-lg-3 text-semibold control-label">
                                Filter Goal:</label>
                                <form method="post" action="{% url 'projects:viewrequirement' requirement_id=requirement.id %}">
                                    {% csrf_token %}
                            <div class="col-md-3">
                                <div class="input-group">
                                    <select name="requirement" data-placeholder="Select View point" class="form-control" id="">
                                        {% for requirement in requirements %}
                                        <option value="{{ requirement.id }}">
                                            {{ requirement.name }}
                                        </option>
                                        {% endfor %}
                                        
                                    </select>
                                    <span class="input-group-append">
                                        <span class="input-group-append"><button class="btn btn-primary"><i
                                                    class="icon-search4"></i></button></span>
                                    </span>
                                </div>
                                </form>
                            </div>
                        </div>

                      

                        <div class="mb-4">
                            <h5 class="font-weight-semibold my-1">
                                <a href="#" class="text-default">{{ requirement.name }}</a>
                            </h5>

                            <ul class="list-inline list-inline-dotted text-muted mb-0">
                                <li class="list-inline-item">By <a href="#" class="text-muted">{{ requirement.created_by }}</a></li>
                                <li class="list-inline-item">{{ requirement.created_on }}</li>
                                <li class="list-inline-item"><a href="{% url 'projects:requirementlike' requirement_id=requirement.id %}" class="text-muted"><i
                                            class="icon-thumbs-up2 font-size-base text-blue mr-2"></i> {{ likes }}</a></li>
                                <li class="list-inline-item"><a href="{% url 'projects:requirementdislike' requirement_id=requirement.id %}" class="text-muted"><i
                                            class="icon-thumbs-down2 font-size-base text-danger mr-2"></i> {{ dislikes }}</a></li>
                                <li class="list-inline-item col-md-3 float-right"><a href="{% url 'projects:requirementresources' requirement_id=requirement.id%}" class="text-muted"><i
                                            class="icon-folder font-size-base text-blue mr-2"></i>Requirement resources</a>
                                </li>
                            </ul>
                        </div>

                        {{ requirement.description|safe}}

                        <div
                            class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
                           <ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
                               <li class="list-inline-item"><a href="#" class=" btn btn-primary " data-toggle="modal"
                                       data-target="#rates">
                                       {{total_rates}} Rates
                                   </a>

                               <li class="list-inline-item"><a href="#" class="text-muted">
                                       {% if not requirementRate %}
                                       <i data-toggle="modal" data-target="#star" class="icon-star-full2  mr-2"></i>
                                       {% endif %}
                                       {% for requirementRate in requirementRate %}

                                       {% if requirementRate.star_rate.number_of_stars == 1 %}
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       {% endif %}
                                       {% if requirementRate.star_rate.number_of_stars == 2 %}
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       {% endif %}
                                       {% if requirementRate.star_rate.number_of_stars == 3 %}
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       {% endif %}
                                       {% if requirementRate.star_rate.number_of_stars == 4 %}
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2  mr-2"></i>
                                       {% endif %}
                                       {% if requirementRate.star_rate.number_of_stars == 5 %}
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       <i class="icon-star-full2 text-warning mr-2"></i>
                                       {% endif %}

                                       {% endfor %}



                                   </a>

                               </li>


                               <li class="list-inline-item" onclick="showComments()"><a href="#" class="text-muted"><i
                                           class="icon-bubbles5 text-blue mr-2"></i>{{total_comments}} comments</a>
                               </li>
                           </ul>


                       
                        <div class="col-md-7">
                            <a href="{% url 'projects:scenarios' requirement_id=requirement.id%}"><button class="btn btn-primary float-right" > Scenarios</button></a>
                        </div>
                        </div>
                        <br><br>

                        <div class="card " id="comments" style="display: block;">
                            <div class="card-header header-elements-inline">
                                <h5 class="card-title"><a href="#">{{requirement.name}}</a>`s Comments:</h5>
                                <div class="header-elements">
                                    <div class="list-icons">
                                        <a class="list-icons-item" data-action="collapse" onclick="closetab()"></a>
                                        <a class="list-icons-item" data-action="remove" onclick="closetab()"></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <ul class="media-list media-chat-scrollable mb-3">
                                    <li class="media content-divider justify-content-center text-muted mx-0">
                                        <span class="px-2">{{ today }}</span>
                                    </li>
                                    {% for comment in comments %}
                                    <li class="media">
                                        <div class="mr-3"><img
                                                src="../../../docs/{{ comment.comment.commented_by.profile_photo}}"
                                                class="rounded-circle" width="40" height="40" alt=""></div>
                                        <div class="media-body">
                                            <div class="media-title d-flex flex-nowrap">
                                                <a href="#"
                                                    class="font-weight-semibold mr-3">{{comment.comment.commented_by}}</a>
                                                <span
                                                    class="font-size-sm text-muted text-nowrap ml-auto">{{ comment.created_on }}
                                                    <a href="#"><i
                                                            class="icon-pin-alt font-size-base text-muted ml-2"></i></a></span>
                                            </div>
                                            {{ comment.comment|safe }}
                                        </div>
                                    </li>
                                    {% endfor %}

                                </ul>
                                <form method="post"
                                    action="{% url 'projects:requirementcomment' requirement_id=requirement.id %}">
                                    {% csrf_token %}

                                    <textarea name="comment" required class="form-control mb-3" rows="3" cols="1"
                                        placeholder="Enter your comment..."></textarea>

                                    <div class="d-flex align-items-center">
                                        <div class="list-icons list-icons-extended">

                                        </div>

                                        <button class="btn bg-primary btn-labeled btn-labeled-right ml-auto"><b><i
                                                    class="icon-paperplane"></i></b> Send</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /line content divider -->

                        <!-- rate model -->

                        <div id="star" class="modal top" tabindex="-1">
                            <div class="modal-dialog modal-xs">
                                <form method="POST"
                                    action="{% url 'projects:raterequirement' requirement_id=requirement.id %}">
                                    {% csrf_token %}
                                    <div class="modal-content bg-white-300" style="color:red">
                                        <div class="modal-header">

                                            <h5 class="modal-title text-center">Rate Viewpoint</h5>

                                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                                        </div>

                                        <div class="modal-body">

                                            <div class="rate float-center" style="margin-left: 3rem;">
                                                <input type="radio" id="star5" name="rate" value="5" /><label
                                                    for="star5" title="Best">5
                                                    stars</label>
                                                <input type="radio" id="star4" name="rate" value="4" /><label
                                                    for="star4" title="Better">4
                                                    stars</label>
                                                <input type="radio" id="star3" name="rate" value="3" /><label
                                                    for="star3" title="Good">3
                                                    stars</label>
                                                <input type="radio" id="star2" name="rate" value="2" /><label
                                                    for="star2" title="Normal">2
                                                    stars</label>
                                                <input type="radio" id="star1" name="rate" value="1" /><label
                                                    for="star1" title="Bad">1
                                                    star</label>
                                            </div>


                                        </div>

                                        <div class="modal-footer col-md-12">
                                            <button type="button" class="btn btn-danger text-white"
                                                data-dismiss="modal">Not now</button>
                                            <button type="submit" class="btn bg-primary ">Rate</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <!-- /custom background color -->


                        <!-- Viewpoint Rates -->

                        <div id="rates" class="modal top " tabindex="-1">
                            <div class="modal-dialog ">
                                <div class="modal-content bg-white-300">
                                    <div class="modal-header text-center">

                                        <h5 class="modal-title text-success" style="margin-left: 6rem;">Goal rates:
                                        </h5>


                                    </div>

                                    <div class="modal-body">

                                        <div class="col-md-12">
                                            <div class="card card-body border-top-primary">
                                        
                                        
                                                <div class="progress mb-3">
                                                    <b class="text-dark mr-1"> 5 Star Rate</b>
                                                    <div class="progress-bar bg-orange" style="width: {{rate_data.0}}%">
                                                        <span class="sr-only">{{rate_data.0}}%</span>
                                        
                                                    </div>
                                                    <div class="text-right">
                                                        <b class="float-right text-primary ml-1">{{rate_data.0}}%</b>
                                                    </div>
                                                </div>
                                        
                                                <div class="progress mb-3">
                                                    <b class="text-dark mr-1"> 4 star Rate </b>
                                                    <div class="progress-bar bg-orange" style="width: {{rate_data.1}}%">
                                                        <span class="sr-only">{{rate_data.1}}%</span>
                                                    </div>
                                                    <div class="text-right">
                                                        <b class="float-right text-primary ml-1">{{rate_data.1}}%</b>
                                                    </div>
                                                </div>
                                        
                                                <div class="progress mb-3">
                                                    <b class="text-dark mr-1"> 3 star Rate </b>
                                                    <div class="progress-bar bg-orange" style="width: {{rate_data.2}}%">
                                                        <span class="sr-only">{{rate_data.2}}%</span>
                                                    </div>
                                                    <div class="text-right">
                                                        <b class="float-right text-primary ml-1">{{rate_data.2}}%</b>
                                                    </div>
                                                </div>
                                        
                                                <div class="progress mb-3">
                                                    <b class="text-dark mr-1"> 2 star Rate </b>
                                                    <div class="progress-bar bg-orange" style="width: {{rate_data.3}}%">
                                                        <span class="sr-only">{{rate_data.3}}%</span>
                                                    </div>
                                                    <div class="text-right">
                                                        <b class="float-right text-primary ml-1">{{rate_data.3}}%</b>
                                                    </div>
                                                </div>
                                        
                                                <div class="progress mb-3">
                                                    <b class="text-dark mr-1"> 1 star Rate </b>
                                                    <div class="progress-bar bg-orange" style="width: {{ rate_data.4 }}%">
                                                        <span class="sr-only">{{rate_data.4}}%</span>
                                                    </div>
                                                    <div class="text-right">
                                                        <b class="float-right text-primary">{{rate_data.4}}%</b>
                                                    </div>
                                                </div>
                                        
                                            </div>
                                        </div>




                                    </div>

                                    <div class="modal-footer col-md-12">
                                        <button type="button" class="btn btn-danger text-white"
                                            data-dismiss="modal">close</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- /custom background color -->


<!-- Vertical form modal -->
<div id="add_resources" class="modal fade" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <h6 class="text-center">You can add image, document or links</h6>

            <form method="POST" action="{% url 'projects:addrequirementresources' requirement_id=requirement.id %}"
                enctype="multipart/form-data">
                {% csrf_token %}
                <div class="modal-body">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Image</label>
                                <input type="file" name="image" class="form-control-styled ">
                            </div>

                            <div class="col-sm-6">
                                <label>Document</label>
                                <input type="file" name="docs" title="can be pdf, docx or excell"
                                    class="form-control-styled">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12">
                                <label>Links</label>
                                <input type="text" name="links" placeholder="add link(s)" class="form-control">
                            </div>


                        </div>
                    </div>

                     <div class="form-group">
                         <div class="row">
                             <div class="col-sm-12">
                                 <label>Description</label>
                                 <textarea name="description" placeholder="write here" class="form-control"></textarea>
                             </div>


                         </div>
                     </div>


                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn bg-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /vertical form modal -->



            </div>
        </div>
    </div>
</div>

