{% extends 'header.html' %}
{% load static %}

{% block sidebar %}

{% endblock sidebar %}
{% block content %}
<div class="content">
    <div class="card blog-horizontal blog-horizontal-xs">
        <div class="card-body">
            <div class="panel">
                <h5 class="text-center col-md-12" style="border-bottom: 1px solid #ddd;"><a
                        href="{% url 'projects:viewproject' project_id=project.id%}">{{ project.project_title}}</a>`
                    Workspace
                </h5>
                <div class="panel-body">
                    <div class="tabbable">
                        <ul class="nav  nav-tabs nav-justified text-center">
                            <style>
                                .viewpoint {

                                    background-color: lightblue;

                                }

                                .requirement {
                                    background: lightblue;
                                }

                                .scenario {
                                    background: lightblue;
                                }

                                .goal {
                                    background: #2196f3;
                                }

                                .process {
                                    background: lightblue;
                                }

                                .usecase {
                                    background: lightblue;
                                }

                                #li a {
                                    color: white;
                                    width: 100%;


                                }

                                #li {
                                    border: 2 solid black;
                                    align-content: center;

                                }

                                #li1 {
                                    width: auto;

                                    background-color: grey;
                                }

                                #li1 :hover a {
                                    background-color: white;
                                    color: #2196f3;
                                }
                            </style>
                            <li class="viewpoint col-md-2 p-2">
                                <a href="{% url 'projects:viewpoints' project_id=project_id %}" class="col-md-2"
                                    style="color: black;font-weight:bold">
                                    ViewPoints
                                </a>
                            </li>
                            <li class="goal col-md-2 p-2">

                                <a href="#" class="col-md-2" style="color:white;font-weight:bold">
                                    Goals
                                </a>
                            </li>
                            <li class=" requirement col-md-2 p-2">
                                <a href="{% url 'projects:projectrequirements' project_id=project_id%}"
                                    style="color:black;font-weight:bold">
                                    Requirements
                                </a>
                            </li>
                            <li class=" scenario col-md-2 p-2">
                                <a href="{% url 'projects:projectscenarios' project_id=project_id %}"
                                    style="color:black;font-weight:bold">
                                    Scenarios
                                </a>
                            </li>
                            <li class="process col-md-2 p-2">
                                <a href="{% url 'projects:projectprocesses' project_id=project_id%}"
                                    style="color:black;font-weight:bold">
                                    Processes
                                </a>
                            </li>
                            <li class="usecase col-md-2 p-2">
                                <a href="{% url 'projects:projectusecases' project_id=project_id%}"
                                    style="color:black;font-weight:bold">
                                    Usecase
                                </a>
                            </li>

                        </ul>


                        
                        <li class="col-md-12 text-right" style="list-style: none;">

                            <a href=""
                                class="btn bg-primary-400 btn-labeled btn-labeled-right rounded-round  btn-sm"><b><i
                                        class="icon-plus3"></i></b>
                                Add Goal
                            </a>

                        </li>
                        
                    </div>
                 
                        <div class="form-group form-horizontal" >
                            <label class="col-md-6 font-weight-semibold control-label">
                                Filter:</label>
                                {% if type == "Related" %}
                            <form method="post" action="{% url 'projects:related-goals' goal_id%}">
                                
                                {% else %}
                                <form method="post" action="{% url 'projects:decomposed-goals' goal_id %}">
                                    {% endif %}

                                {% csrf_token %}
                                <div class="col-md-6">
                                    <div class="input-group">
                                        <select name="operator" data-placeholder="Select View point" class="form-control" id="">
                                           
                                            {% if type == "Related" %}
                                            <option >
                                                Comflict
                                            </option>
                                            <option>
                                                Require
                                            </option>
                                            <option>
                                                Contribute
                                            </option>
                                            {% else %}
                                            <option >
                                               AND
                                            </option>
                                            <option >
                                                OR
                                            </option>
                                            <option>
                                                Linear
                                            </option>
                                            {% endif %}
                                            
                                        </select>
                                        <span class="input-group-append">
                                            <span class="input-group-append"><button class="btn btn-primary"><i
                                                        class="icon-search4"></i></button></span>
                                        </span>
                                    </div>
                            </form>
                        </div>
                    
    

                    <div class="col-md-12 mb-2 mt-2">
                        <h5 class="font-weight-semibold">
                            {{ type }} Goals:
                        </h5>
                        <div>
                            <ul class="list-group">
                                {% for goal in goals %}
                                <li class="list-group-item pl-10 pr-10 ">

                                    <a href="{% url 'projects:viewgoal' goal_id=goal.id %}"
                                        class="text-primary">{{ goal.goal.goal_name }}</a>
                                    <br>
                                    <span class="font-weight-semibold">By:</span>
                                    {{goal.goal.created_by}}, <span class="text-muted"> Created On:
                                        {{goal.goal.created_on}}</span>

                                    <a href="{% url 'projects:viewgoal' goal_id=goal.id %}"
                                        class="btn float-right text-success-600 btn-flat btn-icon btn-rounded btn-sm"
                                        data-popup="tooltip" data-placement="bottom" title="View"
                                        style="margin-top: -6px;">
                                        <i class="icon-enter3"></i>
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-12 text-center">
                            <span class="step-links">
                                {% if goals %}
                                {% if goals.has_previous %}
                                <a href="?page=1" class="btn btn-primary btn-sm">&laquo; first</a>
                                <a href="?page={{ goals.previous_page_number }}" class="">Back</a>
                                {% endif %}
                        
                                <span class="current">
                                    Page {{ goals.number }} of {{ goals.paginator.num_pages }}.
                                </span>
                        
                                {% if goals.has_next %}
                                <a href="?page={{ goals.next_page_number }}" class="">next</a>
                                <a href="?page={{ goals.paginator.num_pages }}" class="btn btn-primary btn-sm">last &raquo;</a>
                                {% endif %}
                                {% endif %}
                                {% if not goals %}
                                <div class="alert alert-info text-center col-md-12">
                                    No Goal(s) to display!
                                </div>
                                {% endif %}
                            </span>
                        </div>

                    </div>

                </div>
            </div>
            <!-- /mini size -->

        </div>
    </div>
</div>
{% endblock content %}