
<!-- {% load static %} -->
{% include 'header.html' %}
	<!-- /main navbar -->

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content">

				<!-- Main charts -->
				<div class="row">
					<div class="col-lg-4">
				
						<!-- Members online -->
						<div class="card bg-teal-400">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">3,450</h3>
									<span class="badge bg-teal-800 badge-pill align-self-center ml-auto">+53,6%</span>
								</div>
				
								<div>
									Members online
									<div class="font-size-sm opacity-75">489 avg</div>
								</div>
							</div>
				
							<div class="container-fluid">
								<div id="members-online"></div>
							</div>
						</div>
						<!-- /members online -->
				
					</div>
				
					<div class="col-lg-4">
				
						<!-- Current server load -->
						<div class="card bg-pink">
							<a href="{% url 'projects:projects'%}" style="color: white;">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">{{total_projects}}</h3>
				
								</div>
				
								<div>
									Total Projects
									<div class="font-size-sm opacity-75">{{total_projects}}</div>
								</div>
							</div>
							</a>
				
				
						</div>
						<!-- /current server load -->
				
					</div>
				
					<div class="col-lg-4">
				
						<!-- Today's revenue -->
						<div class="card bg-blue">
							<div class="card-body">
								<div class="d-flex">
									<h3 class="font-weight-semibold mb-0">18,390 People</h3>
									<div class="list-icons ml-auto">
										<a class="list-icons-item" data-action="reload"></a>
									</div>
								</div>
				
								<div>
									Total Visitors
									<div class="font-size-sm opacity-75">37,578 people</div>
								</div>
							</div>
							
						
				
				
						</div>
						<!-- /today's revenue -->
				
					</div>
				</div>
				<!-- /quick stats boxes -->
				
				
				
				<div class="row">
					<div class="card col-xl-7" >
                        Recent Projects
						<!-- Traffic sources -->
						<div class="row">
							{% if current_projects %}
							{% for current_project in current_projects %}
							<div class="col-lg-12">
								<!-- Mini size -->
								<div class="card blog-horizontal blog-horizontal-xs">
									<div class="card-body">
										<div class="card-img-actions mr-3">
											<img class="card-img img-fluid" src="docs/{{ current_project.project_photo }}" alt="">
											<div class="card-img-actions-overlay card-img">
												<a href="{% url 'projects:viewproject' project_id=current_project.id %}"
													class="btn btn-outline bg-white text-white border-white border-2 btn-icon rounded-round">
													<i class="icon-link"></i>
												</a>
											</div>
										</div>

										<div class="mb-3">
											<h5 class="font-weight-semibold my-1">
												<a href="{% url 'projects:viewproject' project_id=current_project.id %}" style="color:blue"
													class="text-default">{{ current_project.project_title }}</a>
											</h5>

											<ul class="list-inline list-inline-dotted text-muted mb-0">
												<li class="list-inline-item">By <a href="#" class="text-muted">{{ current_project.created_by }}</a></li>
												<li class="list-inline-item">Created On: {{ current_project.created_on }}</li>
												<li class="list-inline-item">Due Date: {{ current_project.due_date }}</li>
												<li class="list-inline-item"><a href="#" class="text-muted"><i
															class="icon-thumbs-up2 font-size-base text-blue mr-2"></i> 281</a></li>
												<li class="list-inline-item"><a href="#" class="text-muted"><i
															class="icon-thumbs-down2 font-size-base text-danger mr-2"></i> 281</a></li>
											</ul>
										</div>

										{{ current_project.description|safe|truncatewords:40 }}
										<a href="{% url 'projects:viewproject' project_id=current_project.id %}">[...]</a>

										<div
											class="card-footer bg-transparent d-sm-flex justify-content-sm-between align-items-sm-center border-top-0 pt-0 pb-3">
											<ul class="list-inline list-inline-dotted text-muted mb-3 mb-sm-0">
												<li class="list-inline-item"><a href="#" class="text-muted"><i
															class="icon-star-full2 text-warning mr-2"></i></a></li>
												<li class="list-inline-item"><a href="#" class="text-muted"><i
															class="icon-bubbles5 text-blue mr-2"></i>12 comments</a></li>
											</ul>


										</div>
									</div>
								</div>
								<!-- /mini size -->
							</div>
							{% endfor %}
							{% endif %}
						</div>

					</div>
					<div class="col-xl-5">
						<!-- Sales stats -->
						<div class="card">
							<h5 style="margin-left: 2rem;">Calendar</h5>
							<div class="form-control-datepicker border-0"></div>
						</div>
						
						<div class="card text-center">
							<div class="card-body">

								<!-- Progress counter -->
								<div class="svg-center position-relative" id="hours-available-progress"></div>
								<!-- /progress counter -->


								<!-- Bars -->
								<div id="hours-available-bars"></div>
								<!-- /bars -->

							</div>
						</div>
					</div>
					
					</div>
						

							<!-- Progress counters -->
							
								

								
							
		</div>
</body>
</html>
