<div class="card-body p-0">
    <ul class="nav nav-sidebar " data-nav-type="accordion">


        <li class="nav-item">

            {% url 'index' as index %}
            <a href="{% url 'index' %}"
                class="nav-link {% if request.get_full_path == index %} active {% endif %}">
                <i class="icon-home4"></i>
                <span>
                    Dashboard

                </span>
            </a>
        </li>

        {% url 'projects:myprojects' as myprojects %}
        {% url 'projects:membershipprojects' as membershipprojects %}
        {% url 'projects:projects' as projects %}
        {% url 'projects:generalreports' as generalreports %}
        {% url 'projects:createproject' as createproject %}
        {% url 'projects:generated_project_documents' project.id as generated_project_documents %}
        <li
            class="nav-item nav-item-submenu {% if request.get_full_path == myprojects or request.get_full_path == membershipprojects or request.get_full_path == projects or request.get_full_path == createproject %} nav-item-expanded   {% endif %}">
            <a href="#" class="nav-link"><i class="icon-copy "></i> <span>Projects</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Projects">
                <li class="nav-item">
                    <a href="{% url 'projects:myprojects' %}"
                        class="nav-link {% if request.get_full_path == myprojects %} active {% endif %}">My
                        Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'projects:membershipprojects'%}"
                        class="nav-link {% if request.get_full_path == membershipprojects %} active {% endif %}">
                        Membership Projects
                    </a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'projects:projects'%}"
                        class="nav-link {% if request.get_full_path == projects %} active {% endif %}">
                        All
                        Projects
                    </a>
                </li>

            </ul>
        </li>
        {% if project %}
        <li class="nav-item">
        
            
            <a href="{% url 'projects:generated_project_documents' project.id %}" class="nav-link {% if request.get_full_path == generated_project_documents %} active {% endif %}">
                <i class="icon-magazine"></i>
                <span>
                    Project Documents
        
                </span>
            </a>
        </li>
        {% endif %}
        {% if not project %}
        <li class="nav-item nav-item-submenu {% if request.get_full_path == generalreports %} nav-item-expanded {% endif %}">
            <a href="#" class="nav-link"><i class="icon-stack"></i> <span>Reports</span></a>

            <ul class="nav nav-group-sub" data-submenu-title="Reports">

                <li class="nav-item"><a href="{% url 'projects:generalreports'%}"
                        class="nav-link {% if request.get_full_path == generalreports %} active {% endif %}">General
                        Reports</a></li>


            </ul>
        </li>
        {% endif %}

        <!-- /main -->

    </ul>
</div>