<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>CORES|Member registration</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	{% load static %}
	<link href="{% static 'global_assets/css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/bootstrap_limitless.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/layout.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/components.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'assets/css/colors.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'global_assets/js/main/jquery.min.js' %}"></script>
	<script src="{% static 'global_assets/js/main/bootstrap.bundle.min.js' %}"></script>
	<script src="{% static 'global_assets/js/plugins/loaders/blockui.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'global_assets/js/plugins/forms/styling/uniform.min.js' %}"></script>

	<script src="{% static 'assets/js/app.js' %}"></script>
	<script src="{% static 'global_assets/js/demo_pages/login.js' %}"></script>
	<!-- /theme JS files -->

</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-expand-md bg-primary fixed-top" style="color:white;">
		<div class="navbar-brand">
			<a href="{% url 'index'%}" class="d-inline-block" style="color:white">
				<h6>CORES</h6>
			</a>
		</div>

		<div class="d-md-none">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-mobile">
				<i class="icon-tree5"></i>
			</button>
		</div>

		<div class="collapse navbar-collapse" id="navbar-mobile">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item dropdown">
					<a href="/" class="navbar-nav-link" style="color:white">
						<i class="icon-home"></i>
						<span class="d-md-none ml-2">Go to website</span>
					</a>					
				</li>

				
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page content -->
	<div class="page-content" style="margin-top: 5rem;">

		<!-- Main content -->
		<div class="content-wrapper">

			<!-- Content area -->
			<div class="content d-flex justify-content-center align-items-center">

				<!-- Registration form -->
				
				<form  method="POST" action="{% url 'registration' %}" class="flex-fill">
					{% csrf_token %}
					<div class="row">
						<div class="col-lg-6 offset-lg-3">
							<div class="card mb-0">
								<div class="card-body">
									<div class="text-center mb-3">
										<i class="icon-plus3 icon-2x text-success border-success border-3 rounded-round p-3 mb-3 mt-1"></i>
										<h5 class="mb-0">Create account</h5>
										<p style="color:red">
											{% if message %}
											{{ message }}
											{% endif %}
										</p>

									</div>
                                     
									<div class="form-group form-group-feedback form-group-feedback-right">
										<input type="text" class="form-control" name="username" placeholder="Choose username" required>
										<div class="form-control-feedback">
											<i class="icon-user-plus text-muted"></i>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="first_name" placeholder="First name" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="second_name" placeholder="Second name" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="text" class="form-control" name="last_name" placeholder="Last name" required>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<select name="gender" id="" class="form-control">
													<option>select Gender</option>
													<option value="Male">MALE</option>
													<option value="Female">FEMALE</option>

												</select>
												<div class="form-control-feedback">
													<i class="icon-user-check text-muted"></i>
												</div>
											</div>
										</div>
									</div>

									<div class="row">
										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="number" class="form-control" name="phone" placeholder="Your mobile number" required>
												<div class="form-control-feedback">
													<i class="icon-phone text-muted"></i>
												</div>
											</div>
										</div>

										<div class="col-md-6">
											<div class="form-group form-group-feedback form-group-feedback-right">
												<input type="email" class="form-control" name="email" placeholder=" email">
												<div class="form-control-feedback">
													<i class="icon-mention text-muted"></i>
												</div>
											</div>
										</div>
									</div>
											<div class="row">
												<div class="col-md-6">
													<div class="form-group form-group-feedback form-group-feedback-right">
														<input type="password" minlength="8" name="password" class="form-control" placeholder="Create password" required>
														<div class="form-control-feedback">
															<i class="icon-user-lock text-muted"></i>
														</div>
													</div>
												</div>

												<div class="col-md-6">
													<div class="form-group form-group-feedback form-group-feedback-right">
														<input type="password" minlength="8" name="password1" class="form-control" placeholder="Repeat password" required>
														<div class="form-control-feedback">
															<i class="icon-user-lock text-muted"></i>
														</div>
													</div>
												</div>
											</div>

									<div class="form-group">
										<div class="form-check">
											<label class="form-check-label">
												<input type="checkbox" name="test" class="form-input-styled" checked data-fouc>
												Send me <a href="#">test account settings</a>
											</label>
										</div>

										<div class="form-check">
											<label class="form-check-label">
												<input type="checkbox" name="subscribe" class="form-input-styled" checked data-fouc>
			 									Subscribe to monthly newsletter
											</label>
										</div>

										<div class="form-check">
											<label class="form-check-label">
												<input type="checkbox" name="terms" class="form-input-styled" data-fouc required>
												Accept <a href="#">terms of service</a>
											</label>
										</div>
									</div>

									<button type="submit" class="btn bg-teal-400 btn-labeled btn-labeled-right"><b><i class="icon-plus3"></i></b> Create account</button>
								</div>
								<div class="form-group text-center text-muted content-divider">
									<span class="px-2">or sign up with</span>
								</div>

								<div class="form-group text-center">
									<button type="button" class="btn btn-outline bg-indigo border-indigo text-indigo btn-icon  border-2"
										style="width: 4rem;"><i class="icon-facebook"></i></button>
									<button type="button"
										class="btn btn-outline bg-pink-300 border-pink-300 text-pink-300 btn-icon  border-2 ml-2"
										style="width: 4rem;"><i class="icon-google"></i></button>

								</div>
							</div>
						</div>
					</div>
				</form>
				<!-- /registration form -->

			</div>
			<!-- /content area -->


			<!-- Footer -->
			
			<!-- /footer -->

		</div>
		<!-- /main content -->

	</div>
	<!-- /page content -->

</body>
</html>
