{% load static %}
{% include './profile_header.html'%}

<div class="content-wrapper">

    <!-- Content area -->
    <div class="content">
        <!-- Bordered card body table -->

        <div class="row">
            <div class="card col-xl-12">
                <div class="card-header header-elements-inline">
                    <h5 class="card-title">{{ indexhead }}:</h5>

                </div>

                <div class="card-body">
                    <div class="card card-table table-responsive shadow-0 mb-0">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Project</th>
                                    <th>Incentive type</th>
                                    <th>Description</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for incentive in incentives%}
                                <tr>
                                    
                                    <td><a href="{% url 'projects:viewproject' project_id=incentive.project.project.id%}">{{ incentive.project }}</a> by {{incentive.project.created_by }}
                                            </td>
                                    <td>{{ incentive.incentive.incentive_type }}
                                             </td>

                                    <td>
                                        {{ incentive.description }}
                                    </td>
                                </tr>
                                {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    {% if not incentives %}
                    <div class="col-lg-12 text-center">
                        <center>
                            <p style="color:red"> Cureently you have not received Incentives</p>
                        </center>
                    </div>
                    {% endif %}
                </div>
            </div>
            <!-- /bordered card body table -->
