{% extends 'header.html' %}
{% load static %}

{% block sidebar %}
{% include './profile_sidebar.html' %}
{% endblock sidebar %}
{% block content %}
<div class="content">
    <div class="card col-xl-12">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">{{ indexhead}}</h5>

        </div>

        <div class="card-body">
            <div class="card card-table table-responsive shadow-0 mb-0">
                <table class="table table-bordered">
                    <thead class="bg-primary text-white">
                        <tr>
                            <th>#</th>
                            <th>project details</th>
                            <th>Options</th>

                        </tr>
                    </thead>
                    <tbody>
                        {% for num, invite in invitations %}
                        <tr>
                            <td>{{ num }}</td>
                            <td><b class="text-primary">{{ invite.project.project_title }}</b> created by:
                                {{ invite.project.created_by}}</td>

                            <td><a title="Accept" href="{% url 'projects:acceptinvitation' request_id=invite.id %}"><button
                                        class="btn btn-outline bg-success-400 border-success-400 text-success btn-icon rounded-round btn-sm">
                                            <i class="icon-check"></i></button></a>
                                <a title="Reject" href="{% url 'projects:rejectinvitation' request_id=invite.id %}"><button
                                        class="btn btn-outline bg-danger-400 border-danger-400 text-danger btn-icon rounded-round btn-sm">
                                            <i class="icon-trash"></i></button></a>
                            </td>
                        </tr>
                        {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}